<section class="box-with-header"><!-- parent is col-md-2 of conteiner -->
    <div class="box-header">
        <i class="fa fa-twitter"></i>
        <h3>TWEETS </h3>
    </div>
    <div class="box-content tweets" scroll-bar>
        <div class="tweets-container">
          <span ng-repeat="item in twitter" on-repeat-done="ngRepeatFinished" data="twitter_done">
                     <a ng-href="{{item.user.entities.url.urls.url}}" alt="link to the post">
                         <img class="profile" ng-src="{{item.user.profile_image_url}}">
                     </a>
                     <div class="tweet-text-container col-md-offset-2">
                         <span class="tweet-name">{{item.user.name}}</span><br><!-- twitter.js parse this dom. if you change it will not work -->
                         <span class="tweet-text">{{item.text}}</span><br>
                         <span class="date">{{item.created_at | date:'shortTime'}}</span>
                     </div>
                <hr class="separator">
          </span>
        </div>
    </div>
</section>
