<div class="edit-profile-box" ng-controller="cashier.user.index as _cashier">
    <div class="box-header">
        <h3>{{'CASHIER.INDEX.TITLE' | translate}}</h3>
        <a class="pull-right" ng-click="close()">
            <i class="fa fa-times-circle"></i>
        </a>

    </div>
    <div class="box-content">
        <div class="wallet-box">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-wallet">
                        <thead>
                        <tr>
                            <th colspan="2" class="red">{{'CASHIER.INDEX.COL1' | translate}}</th>
                            <th colspan="2">{{'CASHIER.INDEX.COL2' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="blacked">{{'CASHIER.INDEX.COL4' | translate}}</td>
                            <td>{{_cashier.cashier.money|number:2}} <i class="fel fel-fel_money_euro"></i></td>
                            <td class="blacked">{{'CASHIER.INDEX.COL3' | translate}}</td>
                            <td>{{_cashier.cashier.points|number:2}} <i class="fel fel-fel_money_electornic"></i></td>
                        </tr>
                        <tr>
                            <td class="blacked">Tournament money</td>
                            <td>{{_cashier.cashier.play_money|number:2}} <i class="fel fel-fel_money_euro"></i></td>
                            <td class="blacked">{{'CASHIER.INDEX.COL4' | translate}}</td>
                            <td> {{_cashier.cashier.points|number:2}} <i class="fel fel-fel_money_electornic"></i></td>
                        </tr>
                        <tr>
                            <td class="blacked">{{'CASHIER.INDEX.COL5' | translate}}</td>
                            <td>{{_cashier.cashier.total_money|number:2}} <i class="fel fel-fel_money_euro"></i></td>
                            <td class="blacked">{{'CASHIER.INDEX.COL5' | translate}}</td>
                            <td>{{_cashier.cashier.points|number:2}} <i class="fel fel-fel_money_electornic"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="actions-btns">
                    <div class="col-md-3">
                        <button class="btn btn-block btn-large btn-danger">
                            {{'CASHIER.INDEX.BUTTON.TOPUP' | translate}}
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-block btn-large btn-default"
                                ng-click="go_to('profile.cashier.play_credits')" translate="CASHIER.INDEX.BUTTON.GET_PLAY_CREDITS">

                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>If you have a money bonus , you can redeem here , enter you code.</p>

                    <form class="form-inline" novalidate="novalidate" ng-submit="_cashier.reedem()" name="CodeForm">
                        <div class="row">


                            <div class="form-group">

                                <div class="col-md-5">
                                    <input type="text" class="form-control" ng-model="_cashier.code"
                                           placeholder="Enter Reedem Code" require>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-default btn-danger" ng-disabled="CodeForm.$invalid">
                                Reedem Code
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="wallet-box-fotter">
        <div class="row">
            <div class="col-md-6">
                <div class="stars-detail">
                    <i class="fa fa-star"></i>
                    <span class="value">{{_cashier.cashier.frecuenly_player_points|number:2}}</span>
                    <span class="detail">{{'CASHIER.INDEX.FOOTER' | translate}}e</span>
                </div>
            </div>
        </div>
    </div>
</div>