<div class="edit-profile-box" ng-controller="cashier.user.credits as _cashier">
    <div class="box-header">
        <h3>GET PLAY CREDITS</h3>
        <a class="pull-right" ng-click="close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="box-content" ngCloak>
        <div class="wallet-box">
            <div class="row">
                <div class="col-md-6">
                    <ul class="play-recharges">
                        <li>
                            <div class="used"></div>
                        </li>
                        <li>
                            <div ng-class="{'used':_cashier.recharges_left<=1}"></div>
                        </li>
                        <li>
                            <div ng-class="{'used':_cashier.recharges_left==0}"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        {{'CASHIER.RECHARGE.TEXT1' | translate}} {{_cashier.recharges_left}} {{'CASHIER.RECHARGE.TEXT2'
                        | translate}}
                    </p>

                    <p>
                        {{'CASHIER.RECHARGE.TEXT3' | translate}}
                    </p>

                    <p class="red">
                        You can get play credits when your balance is under 100 <i
                            class="fel fel-fel_money_electornic"></i> up to 2 times per day
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="actions-btns">
                    <div class="col-md-3">
                        <button class="btn btn-block btn-large btn-danger" ng-click="_cashier.charge()"
                                ng-disabled="!_cashier.can_recharge">
                            GET PLAY CREDITS
                            <small>(+500 <i class="fel fel-fel_money_electornic"></i>)</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>