<div class="close-absolute-btn">
    <a ng-click="close()">
        <i class="fa fa-times-circle"></i>
    </a>
</div>


<div class="profile-cover-upload" crop>
    <div class="user-cover">
        <div class="inner" ng-click="starCrop()">
            <div class="upload-bar">
                <i class="fa fa-camera"></i>
                <span>Cambia tu foto de encabezado</span>
            </div>
        </div>

    </div>


    <input type="file" class="cropit-image-input"/>

    <div class="cover-options-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <div class="slider-wrapper">
                        <div class="help">
                            <div class="slider-title">
                                Reposicionar y escalar encabezado
                            </div>
                            <div class="slider-subtitle">
                                Algunas áreas podrían ser recortadas en pantallas más grandes
                            </div>
                        </div>
                        <div class="slider-content">
                            <span class="icon fa"></span>
                            <input type="range" id="range"
                                   class="cropit-image-zoom-input el-slider"
                                   min="-2" max="2"
                                   step="0.5" value="0">
                            <span class="icon large fa"></span>
                        </div>
                        <div class="slider-buttons">
                            <button class="btn btn-danger" ng-click="endCrop()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="profile-avatar-upload">
                <div class="inner" ng-click="startavatarCrop()">
                    <div class="upload-bar">
                        <i class="fa fa-camera"></i>
                        <input type="file" file callback="avatarCrop" class="avatarCrop" accept="image/*"/>
                        <span>Cambia tu foto de perfil
                        {{avatar}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>