<div class="edit-profile-box" ng-controller="user.modal.profile.password as vm">
    <div class="box-header">
        <i class="fa fa-pencil"></i>

        <h3 translate="EDIT_PROFILE.PASSWORD.TITLE"></h3>
        <a class="pull-right" ng-click="close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="box-content">
        <form novalidate="novalidate" name="passwordForm" class="passwordForm" autocomplete="off"
              ng-submit="vm.update_password()">
            <alert ng-repeat="alert in vm.messages" type="{{alert.type}}" close="vm.close_message($index)">{{alert.msg}}
            </alert>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group"
                         ng-class="{'has-error':passwordForm.old_password.$error && passwordForm.old_password.$touched }">
                        <label translate="EDIT_PROFILE.PASSWORD.OLD_PASSWORD_LABEL">

                        </label>
                        <input type="password" class="form-control" ng-model="vm.user.old_password" name="old_password"
                               placeholder="{{'EDIT_PROFILE.PASSWORD.OLD_PASSWORD_PLACEHOLDER' | translate}}"
                               required>

                        <div ng-messages="passwordForm.old_password.$error" ng-if="passwordForm.old_password.$touched">
                            <div ng-message="required" class="help-block">
                                {{'COMMON.ERROR.REQUIRED_TEXT' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group"
                         ng-class="{'has-error':passwordForm.password.$error && passwordForm.password.$touched }">
                        <label translate="EDIT_PROFILE.PASSWORD.NEW_PASSWORD_LABEL"></label>
                        <input type="password" class="form-control" name="password"
                               placeholder="{{'EDIT_PROFILE.PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate}}"
                               minlength="8" required ng-model="vm.user.password">

                        <div ng-messages="passwordForm.password.$error"
                             ng-if="passwordForm.password.$touched">
                            <div ng-message="required" class="help-block">
                                <i class="fa fa-exclamation-circle"></i>
                                {{'COMMON.ERROR.REQUIRED_TEXT' |
                                translate}}
                            </div>
                            <div ng-message="minlength" class="help-block">
                                <i class="fa fa-exclamation-circle"></i>
                                {{'REGISTER_POPUP.REGISTRATION_FORM.PASSWORD_ERROR_MINLENGHT' |
                                translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error':passwordForm.repeated_password.$error && passwordForm.repeated_password.$touched }">
                        <label translate="EDIT_PROFILE.PASSWORD.REPEAT_NEW_PASSWORD_LABEL"></label>
                        <input type="password" class="form-control" name="repeated_password"
                               ui-validate="{check:'$value==vm.user.password'}"
                               ui-validate-watch=" 'vm.user.password' "
                               placeholder="{{'EDIT_PROFILE.PASSWORD.REPEAT_NEW_PASSWORD_LABEL' | translate}}"
                               required
                               ng-model="vm.user.repeated_password">

                        <div ng-messages="passwordForm.repeated_password.$error"
                             ng-if="passwordForm.repeated_password.$touched">
                            <div class="help-block" ng-message="check">
                                <i class="fa fa-exclamation-circle"></i>
                                {{'REGISTER_POPUP.REGISTRATION_FORM.PASSWORD_ERROR_MISMATCH' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div password-strength="vm.user.password" class="password-streght"></div>
                        <div class="password-streght-labels">
                            <span>{{'REGISTER_POPUP.REGISTRATION_FORM.PASSWORD_WEAK' | translate}}</span>
                            <span class="pull-right"> {{'REGISTER_POPUP.REGISTRATION_FORM.PASSWORD_STRONG' | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider">

            </div>
            <div class="row">
                <div class="col-md-3 pull-right">
                    <button type="submit" ng-disabled="passwordForm.$invalid"
                            class="btn btn-lg btn-danger pull-right"
                            translate="EDIT_PROFILE.PASSWORD.CHANGE_PASSWORD_ACTION">

                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
