<div class="edit-profile-box" ng-controller="user.modal.profile.edit">
<div class="box-header">
    <i class="fa fa-pencil"></i>

    <h3>EDIT PERSONAL DETAILS</h3>
    <a class="pull-right" ng-click="close()">
        <i class="fa fa-times-circle"></i>
    </a>
</div>
<div class="box-content">

<ul class="personal-info-details">

<li>
    <div class="clearfix">
        <form>
            <div class="detail-property">
                <span>Username</span>
            </div>
            <div class="detail-value">
                <span>{{ user.username }}</span>
            </div>
        </form>
    </div>
</li>
<li>
    <div class="clearfix">
        <form editable-form name="nameForm" onaftersave="updateData('name')"
              ng-class="{'edit':nameForm.$visible}">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-property">
                        <span>Real Name</span>
                    </div>
                    <div class="detail-value">
                        <span ng-show="!nameForm.$visible">{{ user.full_name() }}</span>

                        <div class="form-group">
                            <div editable-text="user.first_name" e-name="name" e-required
                                 e-placeholder="firstName..">
                                {{ user.firstName || '' }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div editable-text="user.last_name" e-name="lastName" e-required
                                 e-placeholder="lastName..">
                                {{ user.lastName || '' }}
                            </div>
                        </div>
                    </div>

                    <div class="edit-action">
                        <a ng-click="nameForm.$show()" ng-show="!nameForm.$visible">
                            <i class="fa fa-pencil"></i> EDIT
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="nameForm.$visible" class="pull-right">
                        <button type="submit" class="btn btn-danger" ng-disabled="nameForm.$waiting">
                            Save
                        </button>
                        <button type="button" class="btn btn-default" ng-disabled="nameForm.$waiting"
                                ng-click="nameForm.$cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</li>
<li>
    <div class="clearfix">
        <form editable-form name="ageForm" onaftersave="updateData('age')"
              ng-class="{'edit':ageForm.$visible}">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-property">
                        <span>Date of birth</span>
                    </div>
                    <div class="detail-value" ng-show="!ageForm.$visible">
                        {{user.birth_date |date:'dd MMMM, yyyy'}}
                    </div>
                    <div class="detail-value" ng-show="ageForm.$visible">
                        <div class="form-group">
                            <input type="text" class="age" class="form-control"
                                   ng-model="user.birth_date"
                                   placeholder="Select your Date of birth"/>
                        </div>
                    </div>
                    <div class="edit-action">
                        <a ng-click="ageForm.$show()" ng-show="!ageForm.$visible">
                            <i class="fa fa-pencil"></i> EDIT
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="ageForm.$visible" class="pull-right">
                        <button type="submit" class="btn btn-danger" ng-disabled="ageForm.$waiting">
                            Save
                        </button>
                        <button type="button" class="btn btn-default" ng-disabled="ageForm.$waiting"
                                ng-click="ageForm.$cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</li>
<li>
    <div class="clearfix">
        <form editable-form name="nacionalityForm" onaftersave="updateData('nacionality')"
              ng-class="{'edit':nacionalityForm.$visible}">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-property">
                        <span>Nationality</span>
                    </div>
                    <div class="detail-value" ng-if="!nacionalityForm.$visible">
                        <span>{{ user.nacionality.name }}</span>
                    </div>
                    <div class="detail-value" ng-if="nacionalityForm.$visible">
                        <ui-select ng-model="user.nacionality" theme="bootstrap"
                                   style="width: 300px;">
                            <ui-select-match placeholder="Select or search a country in the list...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="country in countries | filter: $select.search">
                                <span ng-bind-html="country.name | highlight: $select.search"></span>

                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="edit-action">
                        <a ng-click="nacionalityForm.$show()" ng-show="!nacionalityForm.$visible">
                            <i class="fa fa-pencil"></i> EDIT
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="nacionalityForm.$visible" class="pull-right">
                        <button type="submit" class="btn btn-danger" ng-disabled="nacionalityForm.$waiting">
                            Save
                        </button>
                        <button type="button" class="btn btn-default" ng-disabled="nacionalityForm.$waiting"
                                ng-click="nacionalityForm.$cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</li>
<!--<li>-->

    <!--<div class="clearfix">-->
        <!--<form editable-form name="addressForm" onaftersave="updateData('address')"-->
              <!--ng-class="{'edit':addressForm.$visible}">-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<div class="detail-property">-->
                        <!--<span>Address</span>-->
                    <!--</div>-->
                    <!--<div class="detail-value" ng-if="!addressForm.$visible">-->
                        <!--<span>{{ user.address }}</span>-->
                    <!--</div>-->
                    <!--<div class="detail-value" ng-if="addressForm.$visible">-->
                        <!--<div class="form-group">-->
                            <!--<ui-select ng-model="user.address.country" theme="bootstrap"-->
                                       <!--style="width: 300px;" on-select="updateCities($item, $model)">-->
                                <!--<ui-select-match placeholder="Select or search a country in the list...">-->
                                    <!--{{$select.selected.name}}-->
                                <!--</ui-select-match>-->
                                <!--<ui-select-choices repeat="country in countries | filter: $select.search">-->
                                    <!--<span ng-bind-html="country.name | highlight: $select.search"></span>-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<ui-select ng-model="user.address.city" theme="bootstrap"-->
                                       <!--style="width: 300px;" ng-disabled="!cities">-->
                                <!--<ui-select-match placeholder="Select or search a city in the list...">-->
                                    <!--{{$select.selected.name}}-->
                                <!--</ui-select-match>-->
                                <!--<ui-select-choices repeat="city in cities | filter: $select.search">-->
                                    <!--<span ng-bind-html="city.name | highlight: $select.search"></span>-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" ng-model="user.address.address" class="form-control"-->
                                   <!--placeholder="You adress..."/>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" ng-model="user.address.postal_code" class="form-control"-->
                                   <!--placeholder="Postal Code..."/>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="edit-action">-->
                        <!--<a ng-click="addressForm.$show()" ng-show="!addressForm.$visible">-->
                            <!--<i class="fa fa-pencil"></i> EDIT-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<div ng-show="addressForm.$visible" class="pull-right">-->
                        <!--<button type="submit" class="btn btn-danger" ng-disabled="addressForm.$waiting">-->
                            <!--Save-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-default" ng-disabled="addressForm.$waiting"-->
                                <!--ng-click="addressForm.$cancel()">-->
                            <!--Cancel-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</li>-->
<li>
    <div class="clearfix">
        <form editable-form name="hardwareForm"
              ng-class="{'edit':hardwareForm.$visible}">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-property">
                        <span>Hardware</span>
                    </div>
                    <div class="detail-value" ng-show="!hardwareForm.$visible">
                        <ul ng-if="user.hardware.so">
                            <li>
                                {{user.hardware.so}}
                            </li>
                            <li>
                                {{user.hardware.cpu}}
                            </li>
                            <li>
                                {{user.hardware.gpu}}
                            </li>
                            <li>
                                {{user.hardware.mem | mem}} GB RAM
                            </li>
                        </ul>
                    </div>


                    <div class="detail-value" ng-show="hardwareForm.$visible">
                        <button class="btn btn-danger" ng-disabled="!user.sincronized"
                                ng-click="user.detect_hardware()">
                            Detect Computer Hardware
                        </button>
                    </div>
                    <div class="edit-action">
                        <a ng-click="hardwareForm.$show()" ng-show="!hardwareForm.$visible">
                            <i class="fa fa-pencil"></i> EDIT
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="hardwareForm.$visible" class="pull-right">
                        <button type="button" class="btn btn-default" ng-disabled="hardwareForm.$waiting"
                                ng-click="hardwareForm.$cancel()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</li>
<li>
    <div class="clearfix">
        <form>
            <div class="detail-property">
                <span>Games Played</span>
            </div>
            <div class="detail-value">
                <ul class="games-played">
                    <li ng-repeat="lvl in user.games_lvl">
                        <div class="game-box" tooltip="{{lvl.game.name}}">
                            <img ng-src="{{lvl.game.miniature}}"/>
                        </div>

                    </li>
                </ul>


            </div>
        </form>
    </div>
</li>
<li>
    <div class="clearfix">
        <form editable-form name="socialNetworksForm"
              ng-class="{'edit':socialNetworksForm.$visible}">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-property">
                        <span>Social Networks</span>
                    </div>
                    <div class="detail-value" ng-if="socialNetworksForm.$visible">
                        <div class="network" ng-repeat="network in networks">
                            <a class="btn btn-block btn-lg btn-social"
                               ng-class="{'btn-facebook':network.provider =='facebook',
                               'btn-twitter':network.provider =='twitter',
                               'btn-google-plus':network.provider =='google',
                               'btn-twitch':network.provider =='twitch',
                               'btn-steam':network.provider =='steam'}"
                               ng-click="sincronize(network.provider)" ng-if="!network.connected">
                                <i class="fa" ng-class="{'fa-facebook':network.provider =='facebook',
                                'fa-twitter':network.provider =='twitter',
                                'fa-google-plus':network.provider =='google',
                                'fa-twitch':network.provider =='twitch',
                                'fa-steam':network.provider =='steam'}"></i>
                                Sincronize {{network.provider}}
                            </a>

                            <div class="connected-provider" ng-class="network.provider" ng-if="network.connected">
                                You've connected to your {{network.provider}} account <strong>{{network.name}}</strong>
                            </div>
                        </div>


                    </div>
                    <div class="detail-value" ng-if="!socialNetworksForm.$visible">
                        <a ng-repeat="social in user.social_providers" class="btn btn-social-icon"
                           ng-class="{'btn-steam':social=='steam' ,
                            'btn-facebook':social=='facebook',
                            'btn-google-plus':social=='google',
                            'btn-twitter':social=='twitter',
                            'btn-twitch':social=='twicth'}">
                            <i class="fa"
                               ng-class="{'fa-steam':social=='steam' , 'fa-facebook':social=='facebook', 'fa-google-plus':social=='google','fa-twitter':social=='twitter','fa-twitch':social=='twicth'}"></i></a>
                        </a>


                    </div>
                    <div class="edit-action">
                        <a ng-click="socialNetworksForm.$show()" ng-show="!socialNetworksForm.$visible">
                            <i class="fa fa-pencil"></i> EDIT
                        </a>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="socialNetworksForm.$visible" class="pull-right">
                        <button type="button" class="btn btn-default"
                                ng-click="socialNetworksForm.$cancel()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</li>


</ul>
</div>
</div>
