<div class="container" id="match">
<div class="btn-close-wrapper">
    <!--<button class="btn btn-close" ng-click="_lobby.close()">x</button>-->
</div>
<div class="row">
<div class="col-md-2 col-sm-2 bounceInDown animated">
    <div tournament-detail tournament="_lobby.tournament"></div>
</div>
<div class="col-md-4 col-sm-4 col-xs-6  " ng-if="_lobby.tournament.status == 'FINISHED'">
    <div class="tournament-close-header">
        <h3>
            {{_lobby.tournament.name}}
            <span>({{_lobby.tournament.registered_players}}/{{_lobby.tournament.config.type.num_players * _lobby.tournament.config.type.num_teams}})</span>
        </h3>
        <a class="pull-right" ng-click="_lobby.close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="tournament-detail-box" back-img="{{_lobby.tournament.maps[0].cover}}">
        <div class="tournament-detail-header">
            <div tournament-header current="_lobby.tournament" registered="_lobby.registered_tournament"
                 register="_lobby.register()"
                 unregister="_lobby.unregister()" launched="_lobby.launched" launch="_lobby.launch()"></div>
        </div>
        <div tournament-stats tournament="_lobby.tournament" stats="_lobby.stats"></div>
        <div tournament-top-player tournament="_lobby.tournament" stats="_lobby.stats"
             ng-hide="_lobby.loading"></div>
    </div>
    <div class="tournament-team-detail-wrapper " ng-show="_lobby.show_players">
        <div class="row">
            <div class="col-md-6" ng-repeat="r in _lobby.tournament.ranking">

                <div class="table-box">
                    <table class="table table_free_for_all">
                        <thead>
                        <tr>
                            <th style="width: 10%">RANK</th>
                            <th style="width: 36%">PLAYER NAME</th>
                            <th style="width: 10.2%">LEVEL</th>
                            <th style="width: 15%" class="hidden-xs hidden-sm">MULTIPLIER</th>
                            <th style="width: 10%">SCORE</th>
                            <th style="width: 10%">KILLS</th>
                            <th style="width: 10%">PRIZE</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="table-content-scrollable" scroll-bar>
                        <table class="table table_free_for_all">
                            <tbody ng-repeat="p in r.rank_players| orderBy:'position'">
                            {{p}}
                            <tr>
                                <td class="rank" style="width: 10%">{{p.position | cardinal}}</td>
                                <td style="width: 36%">
                                    <div mini-user-resum user="p.player.user"></div>
                                    <div reputation="4"></div>
                                </td>
                                <td class="lvl" style="width: 10.2%">{{p.player.lvl}}</td>
                                <td style="width: 15%" class="hidden-xs hidden-sm">
                                    <div multiplier user="p.player.user"></div>
                                </td>
                                <td class="score" style="width: 10%">{{p.points|number:2}}</td>
                                <td style="width: 10%">{{p.kills}}</td>
                                <td class="prize" style="width: 10%">{{p.prize.amount|number:2}}</td>
                            </tr>
                            <tr tournament-player-stats user="p.player.user"
                                match="{{_lobby.tournament.matches[0]}}">

                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="tournament-rules-box" ng-show="_lobby.show_rules">
        <div class="box-header">
            <div class="row">
                <div class="col-md-3">
                    <h3 translate="LOBBY.TITLES.RULES"></h3>
                </div>
                <a class="pull-right" ng-click="_lobby.show_players_box()">
                    <i class="fa fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div class="box-content" scroll-bar>
            <div class="rule-detail">
                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-6 bounceInDown animated" ng-if="_lobby.tournament.status != 'FINISHED'">
    <div class="tournament-close-header">
        <h3>
            {{_lobby.tournament.name}}
            <span>({{_lobby.tournament.registered_players}}/{{_lobby.tournament.config.type.num_players * _lobby.tournament.config.type.num_teams}})</span>
        </h3>
        <a class="pull-right" ng-click="_lobby.close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="tournament-detail-box" back-img="{{_lobby.tournament.maps[0].cover}}">
        <div class="tournament-detail-header">
            <div tournament-header current="_lobby.tournament" registered="_lobby.registered_tournament"
                 register="_lobby.register()"
                 unregister="_lobby.unregister()" launched="_lobby.launched" launch="_lobby.launch()"></div>
        </div>
        <div tournament-top-player tournament="_lobby.tournament" stats="_lobby.stats"
             ng-hide="_lobby.loading"></div>
        <div tournament-loader init="_lobby.loading" countdown="_lobby.countdown" match="_lobby.tournament"
             callback="_lobby.launch()" match="_lobby.tournament" seconds="_lobby.timeElapsed"
             ng-if="_lobby.loading"></div>
    </div>
    <div class="tournament-team-detail-wrapper" ng-show="_lobby.show_players">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="team in _lobby.tournament.teams">

                <div class="table-box">
                    <table class="table table_free_for_all">
                        <thead>
                        <tr>
                            <th style="width: 10%">RANK</th>
                            <th style="width: 35%">PLAYER NAME</th>
                            <th style="width: 10%">LEVEL</th>
                            <th style="width: 15%" class='hidden-xs hidden-sm'>MULTIPLIER</th>
                            <th style="width: 15%">SCORE</th>
                            <th style="width: 15%">PING</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in team.players">
                            <td class="rank" style="width: 10%">-</td>
                            <td>
                                <div mini-user-resum user="p.user"></div>
                                <div reputation="4"></div>
                            </td>
                            <td class="lvl">{{p.lvl}}</td>
                            <td class='hidden-xs hidden-sm'>
                                <div multiplier user="p.user"></div>
                            </td>
                            <td class="score">-</td>
                            <td>{{p.latency}}</td>
                        </tr>

                        <tr ng-repeat="i in _lobby.empty">
                            <td colspan="7" class="text-center">Waiting for player</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="tournament-rules-box" ng-show="_lobby.show_rules">
        <div class="box-header">
            <div class="row">
                <div class="col-md-3">
                    <h3 translate="LOBBY.TITLES.RULES"></h3>
                </div>
                <a class="pull-right" ng-click="_lobby.show_players_box()">
                    <i class="fa fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div class="box-content" scroll-bar>
            <div class="rule-detail">
                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla
                    rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci
                    convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie
                    elit
                    ex, ut pharetra leo fermentum id.</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>



