<div class="container" id="match">
<div class="btn-close-wrapper">
    <!--<button class="btn btn-close" ng-click="_lobby.close()">x</button>-->
</div>
<div class="row">
<div class="col-md-2 col-sm-2 bounceInDown animated">
    <div tournament-detail tournament="_lobby.tournament"></div>
    <div class="tournament-social-box" ng-if="last_tournament_event">
        <div class="drag-box">
            <div><span>PL</span>AY <br>
                <span>BO</span>X
            </div>
        </div>
        <div class="share-box">
            <div class="share-data">
                <p>
                    <a href="#">{{last_tournament_event.user}}</a> just {{last_tournament_event.action}}
                    {{last_tournament_event.quantity}} points in <span>#css</span> on
                    <span>#electronicStars</span>
                </p>

            </div>
            <div class="share-by">
                <span>SHARE ON : </span>

                <div class="social-sites">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter-square"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-6 " ng-if="_lobby.tournament.status == 'FINISHED'">
    <div class="tournament-close-header">
        <h3>
            {{_lobby.tournament.name}}
            <span>({{_lobby.tournament.registered_players}}/{{_lobby.tournament.config.type.num_players * _lobby.tournament.config.type.num_teams}})</span>
        </h3>
        <a class="pull-right" ng-click="_lobby.close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="tournament-detail-box" back-img="{{_lobby.tournament.maps[0].cover}}">
        <div class="tournament-detail-header">
            <div tournament-header current="_lobby.tournament" registered="_lobby.registered_tournament"
                 register="_lobby.register()"
                 unregister="_lobby.unregister()" launched="_lobby.launched" launch="_lobby.launch()"></div>
        </div>
        <div tournament-stats stats="_lobby.stats"></div>
        <!--<div tournament-top-player tournament="_lobby.tournament" stats="_lobby.stats"-->
        <!--ng-hide="_lobby.loading"></div>-->
        <div tournament-match-round-detail match="_lobby.match_id"></div>
    </div>
    <div class="tournament-team-detail-wrapper" ng-show="_lobby.show_players">
        <div class="row">
            <div class="col-md-3" ng-repeat="r in _lobby.tournament.ranking">
                <div class="tournament-team-detail-box" ng-class="{second_team:$index==1}">
                    <div class="overlay" ng-if="r.position == 2"></div>
                    <div class="team-header" ng-class="{winner:r.position == 1}">
                        <h3>
                            {{'LOBBY.LABEL.TEAM'|translate}} {{r.team.name}}
                        </h3>
                    </div>
                    <div class="table-box">
                        <table class="table table-match">
                            <thead>
                            <tr>
                                <th>R</th>
                                <th>{{'LOBBY.LABEL.PLAYER'|translate}}</th>
                                <th>L</th>
                                <th>M</th>
                                <th>S</th>
                                <th>{{'LOBBY.LABEL.PRIZE'|translate}}</th>

                            </tr>

                            </thead>
                            <tbody>
                            <tr ng-repeat="p in r.rank_players">
                                <td class="rank">{{p.position | cardinal}}</td>
                                <td>
                                    <div mini-user-resum user="p.player.user"></div>
                                </td>
                                <td class="lvl">{{p.player.lvl}}</td>
                                <td>
                                    <div reputation="{{p.player.user.reputation}}"></div>
                                </td>
                                <td class="score">{{p.points|number:2}}</td>
                                <td>{{p.prize.amount|number:2}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tournament-rules-box" ng-show="_lobby.show_rules">
        <div class="box-header">
            <div class="row">
                <div class="col-md-3">
                    <h3 translate="LOBBY.TITLES.RULES"></h3>
                </div>
                <a class="pull-right" ng-click="_lobby.show_players_box()">
                    <i class="fa fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div class="box-content" scroll-bar>
            <div class="rule-detail">
                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>
            </div>
        </div>
    </div>
</div>


<div class="col-md-4 col-sm-4 col-xs-6 bounceInDown animated" ng-if="_lobby.tournament.status != 'FINISHED'">
    <div class="tournament-close-header">
        <h3>
            {{_lobby.tournament.name}}
            <span>({{_lobby.tournament.registered_players}}/{{_lobby.tournament.config.type.num_players * _lobby.tournament.config.type.num_teams}})</span>
        </h3>
        <a class="pull-right" ng-click="_lobby.close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="tournament-detail-box" back-img="{{_lobby.tournament.maps[0].cover}}">
        <div class="tournament-detail-header">
            <div tournament-header current="_lobby.tournament" registered="_lobby.registered_tournament"
                 register="_lobby.register()"
                 unregister="_lobby.unregister()" launched="_lobby.launched" launch="_lobby.launch()"></div>
            <div class="change-team-wrapper"
                 ng-if="_lobby.registered_tournament.id==_lobby.tournament.id && _lobby.tournament.status == 'REGISTRATION'">
                <button class="btn btn-block btn-lg btn-swap-team" ng-click="_lobby.swap_team()">
                    {{'LOBBY.BUTTON.CHANGE_TEAM'|translate}}<i class="fa fa-exchange"></i>
                </button>
            </div>
        </div>


        <div tournament-top-player tournament="_lobby.tournament" stats="_lobby.stats"
             ng-hide="_lobby.loading"></div>

        <div tournament-loader init="_lobby.loading" countdown="_lobby.countdown" match="_lobby.tournament"
             callback="_lobby.launch()" match="_lobby.tournament" seconds="timeElapsed"
             ng-if="_lobby.loading"></div>


    </div>
    <div class="tournament-team-detail-wrapper" ng-show="_lobby.show_players">
        <div class="row">
            <div class="col-md-3 col-xs-3" ng-repeat="team in _lobby.tournament.teams">
                <div class="tournament-team-detail-box" ng-class="{second_team:$index==1}">
                    <div class="team-header">
                        <h3>{{'LOBBY.LABEL.TEAM'|translate}} {{team.name}}</h3>
                    </div>
                    <div class="table-box">
                        <table class="table table-match">
                            <thead>
                            <tr>
                                <th>R</th>
                                <th>{{'LOBBY.LABEL.PLAYER'|translate}}</th>
                                <th>L</th>
                                <th class='hidden-xs'>M</th>
                                <th>S</th>
                                <th>PING</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="p in team.players">
                                <td class="rank">-</td>
                                <td>
                                    <div mini-user-resum user="p.user"></div>
                                </td>
                                <td class="lvl">{{p.lvl}}</td>
                                <td class='hidden-xs'>
                                    <div reputation="{{p.user.reputation}}"></div>
                                </td>
                                <td class="score">-</td>
                                <td>{{p.latency}}</td>
                            </tr>
                            <tr ng-repeat="i in _lobby.empty[$index]">
                                <td colspan="7" class="text-center">{{'LOBBY.LABEL.WAITING_FOR_PLAYER'|translate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tournament-rules-box" ng-show="_lobby.show_rules">
        <div class="box-header">
            <div class="row">
                <div class="col-md-3">
                    <h3 translate="LOBBY.TITLES.RULES"></h3>
                </div>
                <a class="pull-right" ng-click="_lobby.show_players_box()">
                    <i class="fa fa-times-circle"></i>
                </a>
            </div>
        </div>
        <div class="box-content" scroll-bar>
            <div class="rule-detail">
                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>

                <h4>LOREM IPMSUM</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eros eu orci fringilla rutrum
                    vel at augue. Vestibulum facilisis, velit eu mattis efficitur, turpis est faucibus ex, non
                    tincidunt felis nibh id leo. Fusce eu auctor nisl. Praesent quis elit ut lacus pretium
                    ullamcorper. Etiam sodales eu purus in lacinia. Suspendisse sodales diam vitae orci convallis
                    porttitor. Pellentesque malesuada ex quam, a hendrerit ipsum tempor in. Quisque molestie elit
                    ex, ut pharetra leo fermentum id.</p>
            </div>
        </div>
    </div>
</div>


</div>
</div>

</div>

