<header class="navbar navbar-fixed-top el-nav" ng-controller="app.head as _header">

<section class="el-nav">
    <div class="container">
        <div class="col-xs-1 visible-xs button-separator">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-xs-2  col-md-1 col-sm-2 col-lg-1">
            <a href="/#/" class="navbar-brand">
                <img src="/images/logos/logo.png"/>
            </a>
        </div>
        <div class="col-md-offset-1 col-sm-2 col-md-3 hidden-xs">
            <div class="support">
                <script type="text/ng-template" id="avatar_search.html">
                    <a ui-sref="user.profile({id: match.model.username})">
                        <img ng-src="{{match.model.avatar}}"
                             width="16">
                        <span>{{match.model.username}}</span>
                    </a>
                </script>
                <input type="text" ng-model="_header.asyncSelected"
                       typeahead="user for user in _header.find_users($viewValue)" class="form-control search"
                       typeahead-template-url="avatar_search.html">

                <i class="fa fa-search fs20px"></i>
            </div>
        </div>
        <div class="col-md-1 col-sm-2  pull-right hidden-xs">
            <div class="mainMenu">
                <ul class="nav navbar-play navbar-right ">
                    <li>
                        <a ui-sref="home.index">
                            <div><span>HO</span>ME</div>
                        </a>
                    </li>
                    <li dropdown>
                        <a class="dropdown-toggle" dropdown-toggle>
                            <div><span>PL</span>AY</div>
                        </a>
                        <ul class="dropdown-menu games-menu">
                            <li>

                                <ul>
                                    <!--<li-->
                                    <!--ng-repeat="game in _app.me.games_lvl | orderBy:'lvl':true"-->
                                    <!--ng-if="_app.is_logged()">-->
                                    <!--<a ui-sref="tournaments.list({ game_slug: game.game.slug })">{{g.name}}-->
                                    <!--<img ng-src="{{game.game.miniature}}"/>-->
                                    <!--<span class="lvl">Level</span>-->
                                    <!--<br>-->
                                    <!--<span class="value">{{game.lvl}}</span>-->

                                    <!--</a>-->
                                    <!--</li>-->
                                    <li ng-repeat="game in _app.games">
                                        <a ui-sref="tournaments.list({ game_slug: game.slug })">
                                            <img ng-src="{{game.miniature}}"/>
                                            <span class="lvl">PLAY</span>

                                        </a>


                                    </li>
                                </ul>

                            </li>
                            <!--<li class="game-center">-->
                            <!--<a ui-sref="game.index">Game Center <i class="fa fa-angle-right"></i></a>-->
                            <!--</li>-->
                        </ul>

                    </li>
                    <!--<li><a>
                        <div><span>CL</span>ANS</div>
                    </a></li>-->
                    <!--<li><a ui-sref="community.index">-->
                    <!--<div><span>CO</span>MMUNITY</div>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
                <!--<ul class="nav navbar-comnunity  navbar-right ">
                    <li><a class="soon">Shop </a></li>
                    <li><a class="soon">Forum</a></li>
                </ul>-->
            </div>
        </div>
    </div>
</section>
<section ng-if='_app.is_logged()' class="hidden-xs el-profile-nav">
    <div class="container">
        <div class="col-md-2 col-sm-2 br-grey">
            <div class="mini-profile">
                <a ui-sref="user.profile({id: _app.me.username})">
                    <img ng-src="{{_app.me.avatar}}"
                         class="img-circle connected-status"/>
                </a>

                <div class="profile-info">
                    <a ui-sref="user.profile({id: _app.me.username})" class="username">{{_app.me.username}} </a>

                    <div class="status">
                        <div>
                            <span class="currently" translate="COMMON.HEADER.USER.APP_STATUS"></span>
                             <span class="sync " ng-class="{'sincronized':_app.me.sincronized == true}">
                                Syncing                                    <span class="icon-sync"></span>
                                </span>
                        </div>
                        <div>
                            <span class="currently" translate="COMMON.HEADER.USER.STATUS"></span>
                            <span class="dropdown" dropdown>
                                <a dropdown-toggle class="dropdown-toggle connected">
                                    ONLINE
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu user-menu">
                                    <li>
                                        <a ui-sref="user.profile({id: _app.me.username})"
                                           translate="COMMON.HEADER.NAVIGATION.PROFILE"></a>
                                    </li>
                                    <li>
                                        <a ng-click="_app.open_wallet()"
                                           translate="COMMON.HEADER.NAVIGATION.CASHIER"></a>
                                    </li>
                                    <li>
                                        <a ng-click="_app.logout()" translate="COMMON.HEADER.NAVIGATION.LOGOUT"></a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <!--<div class="multiplier-wrapper text-center pull-right hidden-sm">-->
                <!--<div class="multiplier">-->
                <!--<ul class="signal">-->
                <!--<li>-->
                <!--<div></div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div></div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div></div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div></div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div></div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<span>My Star Multiplier</span>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-1 col-sm-1 br-grey">
            <div class="money-box">
                <div class="text-center">
                    <i class="fel fel-fel_money_electornic"></i>
                    <span>{{_app.me.cashier.points|number:2}} </span>
                </div>

            </div>
        </div>
        <div class="col-md-1 col-sm-1 br-grey">
            <div class="money-box">
                <div class="text-center">
                    <i class="fel fel-fel_money_euro "></i>
                    <span>{{_app.me.cashier.total_money|number:2}} </span>
                </div>

            </div>
        </div>
        <div class="col-md-1 col-sm-1">
            <a class="btn btn-lg btn-danger btn-block" ng-click="_app.open_wallet()"
               translate="COMMON.HEADER.BUTTONS.TOP_UP"></a>

        </div>
        <div class="col-md-1 col-sm-1">

            <a class="btn btn-lg btn-block btn-tickets" ng-click="_app.open_registered_tournaments()">

                <i class="fa fa-ticket"></i>
                {{'COMMON.HEADER.BUTTONS.TICKETS' | translate}}

            </a>

        </div>
    </div>
</section>
<!-- user is not logged -->
<section ng-if='!_app.is_logged()' class="hidden-xs el-profile-nav">
    <div class="container">
        <div class="col-md-2 col-sm-3">
            <form class="navbar-form  header-form" novalidate="novalidate" name="UserLoginForm"
                  autocomplete="off" ng-submit="_header.join(_header.user)">
                <div class="row">
                    <div class="form-group col-md-3 col-sm-4">
                        <input type="text" class="form-control" tabindex=1 ng-model="_header.user.username"
                               placeholder="{{'COMMON.HEADER.LOGIN.USERNAME' | translate}}" required>


                    </div>
                    <div class="checkbox col-md-3 col-sm-2 loggedin">
                        <input type="checkbox" ng-model="_header.remember" tabindex=3 id="checkbox-icon"/>
                        <label for="checkbox-icon"></label>
                        <span class="checkbox-text" translate="COMMON.HEADER.LOGIN.REMEMBER_ME"></span>
                        <a ui-sref="password_reset" class="forgot-link"
                           translate="COMMON.HEADER.LOGIN.FORGOT_PASSWORD"></a>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-sm-4">
                        <input type="password" class="form-control" tabindex=2 ng-model="_header.user.password"
                               placeholder="{{'COMMON.HEADER.LOGIN.PASSWORD' | translate}}" required>
                    </div>
                    <div class="col-md-3 col-sm-2">
                        <button type="submit" class="btn btn-block btn-danger" tabindex=4
                                ng-disabled="UserLoginForm.$invalid">
                            LOGIN
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1 col-sm-2 pull-right">
            <a ui-sref="register" class="btn btn-block btn-danger btn-xl" role="button"
               translate="COMMON.HEADER.BUTTONS.REGISTER"></a>
        </div>
    </div>
</section>
</header>



