<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="signup_confirmation">
                    <p>Estamos trabajando duro para ofrecerte una plataforma donde jugar eSports, y sacar provecho a tus
                        horas de juego con <span class="red clanPro">premios en metálico</span>.
                        En estos momentos estamos realizando las últimas pruebas para que puedas disfrutar de tus
                        deportes
                        electrónicos favoritos de manera segura en nuestra plataforma.</p>

                    <p>¡Queda muy poco para el lanzamiento! Nuestra web estará abierta en breve, con torneos de <span
                            class="red clanPro">CS:GO</span>,
                        <span class="red clanPro"> CSS</span> y
                        <span class="red clanPro">rFactor</span>, en modalidades <span class="red clanPro">1v1</span> y
                        <span class="red clanPro">Play-and-GO</span>.
                    </p>

                    <p>En cuanto abramos, te recompensaremos por tu espera con créditos gratis, así podrás participar en
                        nuestras competiciones, y ganar dinero de verdad.
                    </p>

                    <p>Muy pronto recibirás un email nuestro para que formes parte de los primeros usuarios activos de
                        <span class="red clanPro">Electronic Stars</span>.
                        Te animamos a que informes a tus amigos de nuestra existencia, ya que si se registran ahora,
                        también
                        recibirán créditos gratis en esta primera fase, y podrán beneficiarse de nuestras promociones de
                        lanzamiento limitadas.
                    </p>

                    <p><span class="red clanPro">Muchísimas gracias</span> por el interés depositado en nosotros,
                        esperamos verte pronto en nuestros
                        <span class="red clanPro"> torneos</span>.
                    </p>
                    <h4>Saludos cordiales,<br><br>
                        <span class="clanPro">El Equipo de Electronic Stars</span>
                    </h4>
                    <img src="images/landing/preview.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
