<div class="container">
    <div class="btn-close-wrapper-login">
        <button class="btn btn-close" ng-click="close()">x</button>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-1">
            <!--<div ng-hide="registration_submitted" class="">-->

            <div class="user-login-box">
                <div class="header-box">
                    <h3>CREATE AN ACCOUNT FUCK</h3>
                </div>
                <div class="content-box">
                    <form novalidate="novalidate" name="UserRegisterForm" autocomplete="off">
                    <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" ng-model="user.username" id="username"
                                   placeholder="Introduce tu username" required>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control"
                                           placeholder="Password" required ng-model="password">
                                </div>
                                <div class="form-group">
                                    <label>RE-ENTER PASSWORD</label>
                                    <input type="password" class="form-control"
                                           placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div password-strength="password"></div>
                                    <div class="password-streght-labels">
                                        <span>Weak</span>
                                        <span class="pull-right">Strong</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control"
                                           placeholder="Email Address..." ng-modal="user.email" required>
                                </div>
                                <div class="form-group">
                                    <label>RE-ENTER Email Address</label>
                                    <input type="email" class="form-control"
                                           placeholder="Email Address..." required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <p>Electronic Stars will send a confirmation email to this account. Please follow
                                        the link in the mail to verify your email account with Electronic Stars. </p>
                                </div>

                            </div>
                        </div>
                        <div class="divider"></div>


                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Birht Date</label>
                                    <input type="text" class="form-control"
                                           placeholder="Password" required>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Please review the terms and considtions below and agree by selecting the checkbox at the
                                bottom of the page. In order to continue, you must agree with the terms and conditions
                                stated by Electronic Stars below.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="term-box">
                                <h5>TERMS AND CONDITIONS</h5>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>

                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> I agree to the terms & conditions stated above
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-lg btn-danger pull-right" ng-click="join(user)">CREATE
                                ACCOUNT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="user-register page-container">-->
<!--<div class="user-wrapper">-->
<!--<img src="https://estars.s3.amazonaws.com/app/img/red_bg.jpg" class="bg"/>-->

<!--<div id="login_container" class="signup-container">-->


<!--<h3>Registro Electronic Stars</h3>-->
<!--<span>Descubre todo lo que tu ciudad puede ofrecerte</span>-->

<!--<form novalidate="novalidate" name="UserRegisterForm" ng-submit="register()">-->
<!--<input type="hidden" name="_method" value="POST">-->

<!--<div class="form-group">-->
<!--<label for="username">Username</label>-->
<!--<input type="text" class="form-control" ng-model="registerModel.username" id="username"-->
<!--placeholder="Introduce tu username" required>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password">Password</label>-->
<!--<input type="password" class="form-control" ng-model="registerModel.password" id="password"-->
<!--placeholder="Password" required>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="firstName">Nombre</label>-->
<!--<input type="text" class="form-control" id="firstName" ng-model="registerModel.first_name"-->
<!--placeholder="Nombre..." required>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="lastName">Apellidos</label>-->
<!--<input type="text" class="form-control" id="lastName" ng-model="registerModel.last_name"-->
<!--placeholder="Apellidos..." required>-->
<!--</div>-->

<!--<div class="control-group">-->
<!--<button type="submit" class="btn btn-default btn-lg btn-block">Registrarse</button>-->
<!--</div>-->
<!--</form>-->
<!--<div class="fb-login-container">-->
<!--<div class="divider">-->
<!--<div>-->
<!--<span>o</span>-->
<!--</div>-->
<!--</div>-->
<!--<a class="btn btn-primary btn-lg btn-block" ng-click="fbLogin()"><span class="fb-btn-icon"></span>Registro-->
<!--con-->
<!--Facebook</a>-->
<!--<a class="btn btn-primary btn-lg btn-block"><span class="fb-btn-icon"></span>Registro-->
<!--con-->
<!--Twiiter</a>-->
<!--</div>-->

<!--<span class="already-member">-->
<!--Ya tienes cuenta? <a href="signup">Login</a>-->
<!--</span>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->


