<div class="tournament-detail-stats">
    <div class="box-content">
        <div class="row">
            <div class="col-md-3">
                <div class="line">
                    <i class="fa fa-bar-chart"></i>
                    <div>
                        <span class="title">Kills</span>
                        <span class="value">{{stats.kills}}</span>
                    </div>
                </div>
                <div class="line">
                    <i class="fa fa-bar-chart"></i>

                    <div>
                        <span class="title">headshots</span>
                        <span class="value">{{stats.headshots}}</span>
                    </div>
                </div>
                <div class="line">
                    <i class="fa fa-bar-chart"></i>

                    <div>
                        <span class="title">deaths</span>
                        <span class="value">{{stats.deaths}}</span>
                    </div>
                </div>
                <div class="line">
                    <i class="fa fa-bar-chart"></i>

                    <div>
                        <span class="title">K/D Ratio</span>
                        <span class="value">{{stats.kill_ratio | number:2}}</span>
                    </div>
                </div>
                <div class="line">
                    <i class="fa fa-bar-chart"></i>

                    <div>
                        <span class="title">Accuracy</span>
                        <span class="value">{{stats.acuracy|number:2}}%</span>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="user-position">
                    <h3 ng-if="stats.position.win">YOU WON</h3>
                    <h4 ng-if="stats.position.win">{{stats.position.prize}} POINTS!</h4>

                    <h3 ng-if="!stats.position.win" class="lost">YOU LOST</h3>
                </div>
                <div class="position-wrapper">
                    <div class="position">
                        YOU RANKED {{stats.position.ranked |cardinal}}
                    </div>
                    <div class="soldier-sprite">
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>