<div class="cover-slider">
    <img src="images/community/community-home.png">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <whotofollow></whotofollow>
        </div>

        <div class="col-md-4">
            <community-nav-tabs>
                <friends title="FRIENDS">
                </friends>

                <followers title="FOLLOWERS">
                </followers>

                <following title="FOLLOWING">
                </following>

                <invite title="INVITE">
                </invite>
            </community-nav-tabs>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <section class="box-with-header recruit-me">
                <div class="box-header">
                    <i class="fa fa-users"></i>

                    <h3>RECRUIT ME</h3>
                </div>
                <div class="box-content">

                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="recruitment-forum">
                <div class="box-header">
                    <i class="fa fa-users"></i>

                    <h3>RECRUITMENT FORUM</h3>
                </div>
                <div class="box-content"></div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <twitter></twitter>
        </div>
        <div class="col-md-2">
            <facebook></facebook>
        </div>
    </div>
</div>
