<div class="tournament-option-box">
    <div class="options">
        <ul class="actions-menu">
            <li ng-if="is_logged()">
                <a ng-click="wallet()">
                    <i class="fel fel-fel_money_euro"></i>
                    <span class="title" translate="COMMON.NAVIGATION.CASHIER">

                     </span>

                </a>
            </li>
            <li ng-if="is_logged()">
                <a ng-click="registered_tournaments()">
                    <i class="fa fa-ticket"></i>
                    <span class="title" translate="COMMON.NAVIGATION.TICKETS">

                     </span>

                </a>
            </li>
            <li ng-class="{'active':menuItem=='1'}">
                <a ng-click="toggleMenu('1')">
                    <i class="fel fel-fel_games"></i>
                    <span class="title" translate="COMMON.NAVIGATION.GAMES">

                     </span>
                    <span class="arrow"></span>
                </a>
                <ul class="actions-sub-menu">
                    <div class="games-boxes">
                        <li ng-repeat="game in games">
                            <a ui-sref="tournaments.list({ game_slug: game.slug })">
                                <div class="game-box">
                                    <img ng-src="{{game.miniature}}"/>
                                </div>
                            </a>
                        </li>
                    </div>


                </ul>
            </li>

        </ul>
    </div>
</div>