<div class="row">
    <div class="col-md-4 col-xs-4">
        <!--<h3>-->
            <!--{{current.name}}-->
            <!--<span>({{current.registered_players}}/{{current.config.type.num_players * current.config.type.num_teams}})</span>-->
        <!--</h3>-->
    </div>
    <div class="col-md-2 col-xs-2" ng-if="current.status == 'REGISTRATION'">
        <div class="time-left">
            ({{current.registered_players}}/{{current.config.type.num_players
            *current.config.type.num_teams}})
            {{'LOBBY.LABEL.PLAYERS'|translate}}
        </div>
        <div class="join" ng-if="current.status == 'REGISTRATION'">
            <button class="btn btn-block btn-lg btn-danger" ng-click="register()"
                    ng-if="registered.id!=current.id">
                {{'LOBBY.BUTTON.REGISTER_GAME'|translate}} <i class="fa fa-angle-right"></i>
            </button>
            <button class="btn btn-block btn-lg btn-danger" ng-click="unregister()"
                    ng-if="registered.id==current.id">
                {{'LOBBY.BUTTON.UNREGISTER_GAME'|translate}} <i class="fa fa-angle-right"></i>
            </button>
        </div>
    </div>
    <div class="col-md-2 col-xs-2" ng-if="current.status == 'IN_PROGRESS'">
        <div class="time-elapsed" ng-if="registered.id !=current.id">
            <p translate="LOBBY.LABEL.TIME_ELAPSED"></p>
            <timer start-time="started">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>
        <div class="time-elapsed" ng-if="registered.id ==current.id && show_time">
            <div ng-if="start_at">
                <p translate="LOBBY.LABEL.NEXT_MATCH_TIME"></p>
                <timer end-time="start_at">{{mminutes}}:{{sseconds}}</timer>
            </div>
            <div ng-if="!start_at">
                <p translate="LOBBY.LABEL.WAITING_ROUND_FINISH"></p>
            </div>

        </div>
        <div class="reconnect" ng-if="registered.id ==current.id && launched" ng-click="launch()">
            {{'LOBBY.BUTTON.RECONNECT'|translate}} <i class="fa fa-angle-right"></i>
        </div>
    </div>
    <div class="col-md-2 col-xs-2" ng-if="current.status == 'FINISHED'">
        <div class="time-elapsed">
            <p translate="LOBBY.LABEL.TIME_FINISHED"></p>
            <span>{{finished| date:'HH:mm'}}</span>
        </div>
    </div>
</div>




