<div>
    <div class="row">
        <div class="col-md-3 col-xs-3" ng-repeat="team in match.teams" ng-if="match.status !='FINISHED'">
            <div class="tournament-team-detail-box" ng-class="{second_team:$index==1}">
                <div class="team-header">
                    <h3>Team {{team.name}}</h3>
                </div>
                <div class="table-box">
                    <table class="table table-match">
                        <thead>
                        <tr>
                            <th>R</th>
                            <th>PLAYER NAME</th>
                            <th>L</th>
                            <th class='hidden-xs'>M</th>
                            <th>S</th>
                            <th>PING</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in team.players">
                            <td class="rank">-</td>
                            <td>
                                <div mini-user-resum user="p.user"></div>
                            </td>
                            <td class="lvl">{{p.lvl}}</td>
                            <td class='hidden-xs'>
                                <div reputation="{{p.user.reputation}}"></div>
                            </td>
                            <td class="score">-</td>
                            <td>{{p.latency}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="col-md-3 col-xs-3" ng-repeat="r in match.ranking" ng-if="match.status =='FINISHED'">
            <div class="tournament-team-detail-box" ng-class="{second_team:$index==1}">
                <div class="overlay" ng-if="r.position == 2"></div>
                <div class="team-header" ng-class="{winner:r.position == 1}">
                    <h3>Team {{r.team.name}}</h3>
                </div>
                <div class="table-box">
                    <table class="table table-match">
                        <thead>
                        <tr>
                            <th>R</th>
                            <th>PLAYER</th>
                            <th>L</th>
                            <th>M</th>
                            <th>S</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in r.rank_players">
                            <td class="rank">{{p.position | cardinal}}</td>
                            <td>
                                <div mini-user-resum user="p.player.user"></div>
                            </td>
                            <td class="lvl">{{p.player.lvl}}</td>
                            <td>
                                <div reputation="{{p.player.user.reputation}}"></div>
                            </td>
                            <td class="score">{{p.points|number:2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>