<div class="team" ng-mouseover="team_on_hover(team)" ng-mouseleave="team_on_reset()"
     ng-class="{'winner_t':round==0 &&team_info.result!=''}">
    <div class="overlay" ng-if="team_info.result=='' && match.status=='FINISHED'"></div>
    <div ng-if="round==7">
            <span class="team-name">
                {{team_info.team_name}}
            </span>
    </div>
    <div ng-if="round==6">
            <span class="team-name">
                {{team_info.team_name}}
            </span>
        <span class="result" ng-if="team_info.result!=''">
        WINNER
        </span>
    </div>
    <div ng-if="round==5">
        <div class="avatar-container">
            <div class="avatar" back-img={{team_info.avatar}}></div>
        </div>
        <div class="team-description">
            <span class="team-name">
           {{team_info.team_name}}
        </span>
           <span class="result" ng-if="team_info.result!=''">
        WINNER
        </span>
        </div>


    </div>
    <div ng-if="round<5">
        <div class="avatar-container">
            <div class="avatar" back-img={{team_info.avatar}}></div>
        </div>
        <div class="team-description">
            <span class="team-name">
           {{team_info.team_name}}
        </span>
            <span class="result" ng-if="team_info.result!=''">
        WINNER
        </span>
        </div>

    </div>

</div>