<div class="tournament-detail-info">
    <div class="details">
        <ul class="tournament-detail-menu">
            <li ng-class="{'active':menuItem=='1'}">
                <a ng-click="toggleMenu('1')">
                    <i class="fa fa-square"></i>
                                <span class="title" translate="LOBBY.RULES.MAP">

                                 </span>
                    <span class="arrow"></span>
                </a>
                <ul class="actions-sub-menu">
                    <li ng-repeat="map in tournament.maps">
                        <a>

                            <div class="map">
                                <img class="img-responsive" ng-src="{{map.miniature}}"/>
                            </div>
                        </a>
                    </li>

                </ul>
            </li>
            <li ng-class="{'active':menuItem=='2'}">
                <a ng-click="toggleMenu('2')">
                    <i class="fa fa-square"></i>
                    <span class="title" translate="LOBBY.RULES.RULES"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="actions-sub-menu">
                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.REGISTRATION_PRIZE"></div>
                            <div>
                                {{tournament.register_amount|number:2}} <i class=""
                                                                           ng-class="{'fel fel-fel_money_electornic':tournament.cash_type=='FAKE_CASH','fel fel-fel_money_euro':tournament.cash_type=='REAL_CASH'}"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.TOTAL_PLAYERS"></div>
                            <div>
                                {{tournament.config.type.num_players * tournament.config.type.num_teams}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.TOTAL_SETS"></div>
                            <div>
                                {{tournament.config.matches_num}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.TOTAL_ROUNDS"></div>
                            <div>
                                {{tournament.config.rounds_num}}
                            </div>
                        </a>
                    </li>

                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.ROUND_TIME"></div>
                            <div>
                                {{tournament.config.round_time}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.BUYING_TIME"></div>
                            <div>
                                {{tournament.config.freeze_time}} {{'LOBBY.LABEL.SECONDS'|translate}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="title" translate="LOBBY.RULES.TIME_TO_ENTER"></div>
                            <div>
                                {{tournament.config.secs_to_validate_match/60}} {{'LOBBY.LABEL.MINUTES'|translate}}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <button class="btn btn-lg btn-danger" ng-click="show_rules()"
                                        translate="LOBBY.RULES.VIEW_EXTENDED_RULES"></button>
                            </div>
                        </a>
                    </li>

                </ul>
            </li>

            <li ng-class="{'active':menuItem=='3'}">
                <a class="prize" ng-click="toggleMenu('3')">
                    <i class="fa fa-trophy"></i>
                                <span class="title" translate="LOBBY.RULES.GRAND_PRIZE">

                                 </span>
                    <span class="prize">{{tournament.public_prize | number:2}} <i class=""
                                                                                  ng-class="{'fel fel-fel_money_electornic':tournament.cash_type=='FAKE_CASH','fel fel-fel_money_euro':tournament.cash_type=='REAL_CASH'}"></i></span>
                </a>
                <ul class="actions-sub-menu">
                    <li ng-repeat="prize in tournament.pool_prizes">
                        <a>
                            <div class="title">{{prize.position|cardinal}} {{'LOBBY.RULES.POSITION'|translate}}</div>
                            <div>
                                {{prize.type.amount|number:2}} <i class=""
                                                                  ng-class="{'fel fel-fel_money_electornic':prize.type_cls=='FAKE_CASH','fel fel-fel_money_euro':prize.type_cls=='REAL_CASH'}"></i>
                            </div>
                        </a>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</div>