<div class="row tournament-detail-content">
    <div class="light-detail-finished" ng-class="{'finished':stats!=null}" ng-if="tournament.status == 'FINISHED'">
        <div class="top-player-wrapper" ng-if="!tournament.invalid">
            <div class="top-player">
                <h4>TOP PLAYER FOR THIS MATCH </h4>
                <img class="circle white"
                     ng-src="{{topPlayer.avatar}}"/>
                <span class="username">{{topPlayer.username }}</span>
            </div>
        </div>
        <div class="invalid-match-wrapper" ng-if="tournament.invalid">
            <div class="invalid">
                <h4>INVALID TOURNAMENT</h4>
            </div>
        </div>
    </div>
    <div class="tournmanet-description" ng-if="tournament.status == 'REGISTRATION'">
        <img src="images/logos/shotter_logo.png"/>

        <!--<div class="type">-->
        <!--<br>-->
        <!--</div>-->
        <!--<div class="description-type">-->
        <!--<br>-->
        <!--</div>-->
    </div>
    <div class="light-detail" ng-if="tournament.status == 'REGISTRATION'">
        <div class="top-player-wrapper">
            <div class="top-player">
                <h4>TOP GLOBAL PLAYER</h4>
                <img class="circle white" ng-src="{{topPlayer.avatar}}"/>
                <span class="username">{{topPlayer.username }}</span>
            </div>
        </div>


    </div>
</div>