<div class="table-box col-md-6">
    <table class="table table-ranking">
        <thead>
        <tr>
            <th style="width: 18%">RANK</th>
            <th style="width: 45%">PLAYER</th>
            <th style="width: 10%">LEVEL</th>
            <th>REPORT</th>
        </tr>
        </thead>
    </table>
    <div class="table-content-scrollable" scroll-bar>
        <table class="table table-ranking">
            <tbody>
            <tr ng-repeat="t in tournament.ranking| orderBy:'position'"
                ng-class="{'me':me.id == t.rank_players[0].player.user.id}" ng-if="type=='T'">
                <td class="red" style="width: 18%">{{t.position | cardinal}}</td>
                <td style="width: 45%">
                    <div mini-user-resum user="t.rank_players[0].player.user">
                    </div>
                    <div reputation="4" class="pull-right"></div>
                </td>
                <td style="width: 10%">{{t.rank_players[0].player.lvl}}1</td>
                <td>
                    <button class="btn btn-danger" ng-if="me.id != t.rank_players[0].player.user.id">REPORT</button>
                </td>
            </tr>
            <tr ng-repeat="t in tournament.ranking[0].rank_players| orderBy:'position'"
                ng-class="{'me':me.id == t.player.user.id}" ng-if="type=='DM'">
                <td class="red" style="width: 18%">{{t.position | cardinal}}</td>
                <td style="width: 45%">
                    <div mini-user-resum user="t.player.user">
                    </div>
                    <div reputation="{{t.player.user.reputation}}" class="pull-right"></div>
                </td>
                <td style="width: 10%">{{t.player.lvl}}</td>
                <td>
                    <button class="btn btn-danger" ng-if="me.id != t.player.user.id">REPORT</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>