<div class="tournament-prizes">
    <div class="prizes-list" ng-show="prize_details">
        <h2>
            <i class="fa fa-trophy"></i>
        </h2>
        <ul class="prize-ul">
            <li ng-repeat="p in tournament.pool_prizes | orderBy:'position'">
                <div class="position">{{p.position |cardinal}} PLACE</div>
                <div class="prize-position"> {{p.amount|number:2}}
                    <i ng-class="{'fel fel-fel_money_electornic':tournament.cash_type=='FAKE_CASH','fel fel-fel_money_euro':tournament.cash_type=='REAL_CASH'}"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="prize-detail">
        <div class="prize-text">
            <h2>{{tournament.name}}</h2>
            <h3>GRAND CASH PRIZE</h3>
            <h1>
                {{champion.amount|number:2}}
                <i ng-class="{'fel fel-fel_money_electornic':tournament.cash_type=='FAKE_CASH','fel fel-fel_money_euro':tournament.cash_type=='REAL_CASH'}"></i>
            </h1>
        </div>
        <div class="prize-details">
            <button class="btn btn-prize pull-right" ng-click="show_prize_detail()">
                <span>VIEW FULL PRIZE LIST</span>
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>