<div class="tournament-shot-box">
    <div class="row" ng-if="tournaments!=null">
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="shot-title">
                <img src="images/logos/shotter_logo.png" class="img-responsive"/>

                <h3 class="scoreboard" translate="LOBBY.TITLES.SCOREBOARD"></h3>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="shot-info-scoreboard">
                <div ng-repeat="t in scores">
                    <div class="tournament-wrapper">
                        <span class="title">#{{t.name}} : </span>
                        <span>
                            <a ng-repeat="p in t.ranking" ui-sref="user.profile({id: p.username})">
                                <span class="position">{{p.position |cardinal}}</span><span class="user"> {{p.username}} -</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>