<div class="tournament-match-round-details">
    <div class="wrapper-details" ng-if="match_detail!=null">
        <div class="row">
            <div class="col-md-6">
                <div class="team-wrap winner" ng-repeat="team in match_detail.ranking"
                     ng-class="{'winner':team.wins==1,'losser':team.wins==0}">

                    <div class="team-avatar" ng-class="{'one':team.team.name=='1','two':team.team.name=='2'}"></div>
                    <div class="total-rounds-win">
                        {{team.t_wins + team.ct_wins}}
                    </div>
                    <div class="round-sets">
                        <div class="round">
                            <img src="/images/tournament/csgo/teams/terrorist.png">

                            <div class="value">
                                {{team.t_wins}}
                            </div>
                        </div>
                        <div class="round">
                            <img src="/images/tournament/csgo/teams/counter.png">

                            <div class="value">
                                {{team.ct_wins}}
                            </div>
                        </div>
                    </div>
                    <div class="top-player" ng-if="!match.invalid">
                        <h4>MEJOR JUGADOR</h4>

                        <div class="player" ng-if="team.wins==1">
                            <img ng-src="{{winner.player.user.avatar}}">
                        </div>
                        <div class="player" ng-if="team.wins==0">
                            <img ng-src="{{losser.player.user.avatar}}">
                        </div>
                    </div>
                    <div class="team-status">
                        <div class="team-name">
                            {{'LOBBY.LABEL.TEAM'|translate}} {{team.team.name}}
                        </div>
                        <div class="position">
                            <span ng-if="team.wins==1">
                                <i class="fa fa-thumbs-up"></i> {{'LOBBY.LABEL.WINNER'|translate}}
                            </span>
                            <span ng-if="team.wins==0 && !match.invalid">
                                <i class="fa fa-thumbs-down"></i> {{'LOBBY.LABEL.LOSSER'|translate}}
                            </span>
                             <span ng-if="team.wins==0 && match.invalid">
                                <i class="fa fa-meh-o"></i> {{'LOBBY.LABEL.DRAW'|translate}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
