<form name="invitationForm" novalidate ng-submit="requestInvitation()">

    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="alert in messages" type="{{alert.type}}" close="closeMessage($index)">{{alert.msg}}</alert>
            <div class="form-group"
                 ng-class="{ 'has-error': invitationForm.email.$invalid && !invitationForm.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" ng-model="email" required class="form-control"
                       placeholder="Introduce tu email">

                 <span class="help-block" ng-show="invitationForm.email.$invalid && !invitationForm.email.$pristine">Email invalido
                 </span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
</form>