<div class="community-invite-tabs">
    <!-- nav tabs -->
    <ul class="nav nav-tabs invite-nav">
        <li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
            <div class="tab-container">
                <a href="" ng-click="select(pane)">{{pane.title}}
                    <i class="fa"
                       data-ng-class="{true:'fa-envelope-o', false:'fa-facebook-square'}[pane.type == 'email'] "></i>
                </a>
            </div>
        </li>
    </ul>
    <div class="tab-content invite-tab" ng-transclude>

    </div>
    <!-- footer -->
    <div class="invite-footer">
        <hr class="separator">
        <div class="pull-right btn-container">
            <a href="" class="invite-selection" data-ng-click="invite()">
                <span>INVITE</span>
            </a>
            <!-- TO DO show this button only in invite by email -->
            <a href="" class="cancel-selection"
               data-ng-click="deleteEmail()">
                <span>CANCEL</span>
            </a>
        </div>
    </div>
</div>