<section class="tab-pane" ng-show="selected">
    <div class="invite-content">
        <div ng-if='_app.is_logged()' class="sync-social-container">
            <img src="images/community/sync_social.jpg">
            <span>OH NO!</span>
            <span>YOU HAVE NO FRIENDS TO INVITE. CLICK ON THE BUTTON BELOW TO SYNC YOUR SOCIAL NETWORKS AND INVITE FRIENDS TO ELECTRONIC STARS.</span>
            <a>SYNC PROFILE</a>
        </div>
        <div ng-if='_app.is_logged()' class="sync-social-container">
            <img src="images/community/sync_social.jpg">
            <span>OH NO!</span>
            <span>YOU HAVE NO FRIENDS TO INVITE. CLICK ON THE BUTTON BELOW TO REGISTER IN OUR SOCIAL NETWORK AND ENJOY ELECTRONIC STARS.</span>
            <a ui-sref="register" class="btn btn-block btn-danger" role="button">
                SIGN UP NOW!
            </a>
         </div>
    </div>
    </div>
</section>
