<section class="tab-pane" ng-show="selected">
    <div class="invite-content" scroll-bar>
        <div class="tab-scrollable-max-size">
            <div class="span1 list-friends" data-ng-repeat="user in selectedUsers">
                <a data-ng-click="unselectUser(user)"> <!--if is not true selectedUsers delete user -->
                    <div class="item-container">
                        <img class="img-responsive" data-ng-src="{{user.avatar}}">
                        <span class="item-name">{{user.username}}</span>
                        <span class="item-location">{{user.provider}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
