<div class="electronic-card">
    <img class="cover" ng-src="{{profile.cover}}" alt="{{profile.username}}">

    <div class="profile-card-mini">
        <a ui-sref="user.profile({id: profile.username})" class="profile-card-mini-avatar">
            <img ng-src="{{profile.avatar}}"
                 alt="{{profile.username}}">
        </a>

        <div class="profile-card-mini-details">
            <div class="profile-card-name">
                <a class="profile-name">
                    {{profile.username}}
                </a>

                <div reputation user=""></div>
            </div>
            <div class="profile-card-last-game">
                <span>Most played : Counter Strike Go</span>
            </div>
            <div class="profile-card-name-multiplier">
                <div multiplier></div>
            </div>

        </div>
    </div>
    <div class="profile-card-info">
        <div class="games-card-info">
            <h2>Games</h2>
            <ul class="game-card-list">
                <li ng-repeat="g in profile.level_games">
                    <a>
                        <img ng-src="{{g.game.box}}"/>
                        <span>Level {{g.lvl}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="friends-card-info">
            <h2>Friends (12)</h2>
        </div>
    </div>

    <!--<div class="info">-->
    <!--<div class="title">-->
    <!--<a ui-sref="user.profile({id: user.username})">{{user.username}}</a>-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--<ul class="games-lvl">-->
    <!--<li>-->
    <!--<a href="">-->
    <!--<img src="/images/gaming/css/mini.jpg"/>-->
    <!--<span class="lvl">Level</span>-->
    <!--<br>-->
    <!--<span class="value">01</span>-->

    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <div class="bottom">
        <a href="" class="btn  btn-social-action ">
            ADD FRIEND
        </a>
        <a href="" rel="publisher" class="btn  btn-social-action ">
            FOLLOW
        </a>
    </div>
</div>
