<footer class="footer_background_container_landing">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="footer-menu">
                            <li>
                                <a>
                                    <img src="images/logos/logo_loader2.jpg"/>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="about_us.index">{{'COMMON.NAVIGATION.ABOUT_US' | translate}}</a>
                            </li>
                            <li>
                                <a ui-sref="termsandconditions.index">{{'COMMON.NAVIGATION.TERMS_CONDITIONS' |
                                    translate}}</a>
                            </li>
                            <li>
                                <a ui-sref="faq.index">HELP</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Copyright © 2015 Electronicstars. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <ul class="footer-social-menu">
                    <li>
                        <a href="https://www.facebook.com/electronicstarsES"
                           target="_blank"><i
                                class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ESeSports_ES"
                           target="_blank"><i
                                class="fa fa-twitter-square"></i></a>
                    </li>
                    <li>
                        <a href="http://steamcommunity.com/groups/Electronic-Stars"
                           target="_blank"><i
                                class="fa fa-steam-square"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/118279218561825885927/posts"
                           target="_blank"><i
                                class="fa fa-google-plus-square"></i></a>
                    </li>
                    <li>
                        <a href="http://www.twitch.tv/electronicstars"
                           target="_blank"><i
                                class="fa fa-twitch"></i></a>
                    </li>


                </ul>
            </div>
            <div class="col-md-1">
                <!--<div class="language">-->
                    <!--<ui-select ng-model="_app.language.selected" theme="bootstrap" ng-disabled="disabled"-->
                               <!--on-select="_app.change_app_language($item, $model)">-->
                        <!--<ui-select-match placeholder="{{_app.language.name}}">-->
                            <!--{{$select.selected.name}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices repeat="item in _app.languages">-->
                            <!--<span ng-bind-html="item.name "></span>-->

                            <!--<div class="el-flag {{item.flag}} pull-right"></div>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->

            </div>


        </div>
    </div>
</footer>