<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_us_container">
                    <h2>{{'ABOUT_US.COMPANY_CONTENT.TITLE' | translate}}</h2>

                    <p>{{'ABOUT_US.COMPANY_CONTENT.FIRSTP' | translate}}</p>

                    <p>{{'ABOUT_US.COMPANY_CONTENT.SECONDP' | translate}}</p>

                    <p>{{'ABOUT_US.COMPANY_CONTENT.THIRTDP' | translate}}</p>

                    <p>{{'ABOUT_US.COMPANY_CONTENT.FOURTHP' | translate}}</p>

                    <p>{{'ABOUT_US.COMPANY_CONTENT.FIVETHP' | translate}}</p>

                    <p>{{'ABOUT_US.COMPANY_CONTENT.SIXTHP' | translate}}</p>

                    <h2>{{'ABOUT_US.PERSON_CONTENT.TITLE' | translate}}</h2>

                    <div class="person-box">
                        <h4>{{'ABOUT_US.PERSON_CONTENT.PERSON1.NAME' | translate}}</h4>
                        <h5>{{'ABOUT_US.PERSON_CONTENT.PERSON1.ROLE' | translate}}</h5>

                        <p> {{'ABOUT_US.PERSON_CONTENT.PERSON1.DESCRIPTION' | translate}}</p>
                    </div>
                    <div class="person-box">
                        <h4>{{'ABOUT_US.PERSON_CONTENT.PERSON2.NAME' | translate}}</h4>
                        <h5>{{'ABOUT_US.PERSON_CONTENT.PERSON2.ROLE' | translate}}</h5>

                        <p> {{'ABOUT_US.PERSON_CONTENT.PERSON2.DESCRIPTION' | translate}}</p></div>

                    <div class="person-box">
                        <h4>{{'ABOUT_US.PERSON_CONTENT.PERSON3.NAME' | translate}}</h4>
                        <h5>{{'ABOUT_US.PERSON_CONTENT.PERSON3.ROLE' | translate}}</h5>

                        <p> {{'ABOUT_US.PERSON_CONTENT.PERSON3.DESCRIPTION' | translate}}</p>
                    </div>
                    <div class="person-box">
                        <h4>{{'ABOUT_US.PERSON_CONTENT.PERSON4.NAME' | translate}}</h4>
                        <h5>{{'ABOUT_US.PERSON_CONTENT.PERSON4.ROLE' | translate}}</h5>

                        <p> {{'ABOUT_US.PERSON_CONTENT.PERSON4.DESCRIPTION' | translate}}</p>
                    </div>
                    <h4>ELECTRONIC STARS LTD</h4>
                    <h6>Unit 2040, KBIC, Kordin</h6>
                    <h6> Paola, PLA 3000</h6>
                    <h6> Malta</h6>
                    <h6> p: (00356)21808766</h6>
                    <br>
                    <h5>{{'ABOUT_US.COMPANY_INFO_CONTENT.INQUIRIES.TITLE' | translate}}</h5>

                    <P>{{'ABOUT_US.COMPANY_INFO_CONTENT.INQUIRIES.MEDIA' | translate}}
                        community@electronicstars.com </P><br>

                    <P>{{'ABOUT_US.COMPANY_INFO_CONTENT.INQUIRIES.SALES' | translate}}
                        marketing@electronicstars.com </P><br>

                    <P>{{'ABOUT_US.COMPANY_INFO_CONTENT.INQUIRIES.AFFILIATES' | translate}}
                        performance@electronicstars.com </P><br>

                    <P>{{'ABOUT_US.COMPANY_INFO_CONTENT.INQUIRIES.ACCOUNTING' | translate}}
                        accounting@electronicstars.com </P><br>
                </div>
            </div>
        </div>
    </div>
</section>