<div class="cover-slider">
    <slicker class="slider" arrows="false" settings="slickConfig" control="slickHandle" media="slidesData"
             on-directive-init="onDirectiveInit()" is-image="isImage(slidesData)"
             is-video="isVideo(slidesData)">
    </slicker>
</div>

<div class="container">
<div class="row">
<div class="col-md-2">
    <section class="slider-ctrl-box">

        <a class="slick-timer-prev" ng-click="sliderPrev()">
            prev
        </a>
        <timer
                interval="1000">
            <div class="timer-box progress active">
                <div style="width:170px;height: 40px;">
                    <div class="progress-bar progress-bar-rect" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="5" style="width: {{counter}}%;"></div>
                    <div class="progress-bar;red-triangle" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="5"></div>

                </div>
                <span>timer</span>
            </div>
        </timer>
        <a class="slick-timer-next" ng-click="sliderNext()">
            <span>next</span>
        </a>
    </section>
    <section class="box-only-header  top-up-now btn btn-danger btn-block">
    <a ng-click="open_wallet()">
            <i class="fa fa-credit-card"></i>

            <h3>TOP UP NOW!</h3>
        </a>
    </section>
    <!--<section class="box-with-header ">-->
        <!--<div class="box-header">-->
            <!--<i class="fa fa-thumbs-o-up"></i>-->

            <!--<h3>VOTE!</h3>-->
        <!--</div>-->
        <!--<div class="box-content vote-to-win">-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<h4>VOTE TO WIN!</h4>-->

                    <!--<p>Vote for the next game on Electronic Stars!</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-3 game">-->
                    <!--<a ui-sref="game.vote">-->
                        <!--<img src="images/test/assassin-3.jpg" class="img-responsive">-->

                        <!--<div class="text-center ">SELECT GAME</div>-->
                    <!--</a>-->

                    <!--<div class="game-description">-->
                        <!--ASSASSIN'S CREED III-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3 game">-->
                    <!--<a ui-sref="game.vote">-->
                        <!--<img src="images/test/assassin-3.jpg" class="img-responsive">-->

                        <!--<div class="text-center ">SELECT GAME</div>-->
                    <!--</a>-->

                    <!--<div class="game-description">-->
                        <!--ASSASSIN'S CREED III-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="box-footer">-->
            <!--<button class="btn btn-danger btn-lg btn-block">-->
                <!--VOTE NOW ! <i class="fa fa-chevron-right"></i>-->
            <!--</button>-->
        <!--</div>-->
    <!--</section>-->


    <!--<twitter></twitter>-->

    <!--<facebook></facebook>-->

</div>
<div class="col-md-4">
    <game-center-nav-tabs>
        <electronic-games
                title="GAMES" games="games">
        </electronic-games>
        <electronic-games
                title="MY GAMES" games="games">
        </electronic-games>
        <electronic-games
                title="MOST PLAYED" games="games">
        </electronic-games>

    </game-center-nav-tabs>

    <section class="games-box">
        <div class="box-header">
            <h3>ALL GAMES</h3>

            <div class="secundary-filter-box">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="filter-label">FILTER BY</label>
                    </div>
                    <div class="form-group">
                        <div dropdown-multiselect options="genereDropdown"
                             selected-model="_genere_filter"
                             extra-settings="filter_settings" checkboxes="true"
                             translation-texts="{buttonDefaultText: 'GENERE'}"></div>
                    </div>

                    <div class="form-group pull-right">
                        <input type="text" class="form-control input-sm" placeholder="Search" name="srch-term"
                               id="srch-term" ng-model="query">
                    </div>
                </form>
            </div>
        </div>


        <div class="table-box">
            <div class="table-content">
                <table class="table table-games">
                    <thead>
                    <tr>
                        <th>GAME NAME</th>
                        <th>FRIENDS</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="g in games ">
                        <td>
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    <div class="cover-container">
                                        <a ui-sref="tournaments.list({ game_slug: g.slug })">
                                            <div class="box-cover"></div>
                                            <img ng-src="{{g.box}}" alt="...">
                                        </a>

                                        <div class="cover-stars">
                                        <span>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star-half-full"></i>
                                             <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                         </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4 game-name">
                                    <a ui-sref="tournaments.list({ game_slug: g.slug })">{{g.name}}</a>
                                    <span> {{g.description}}</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <!--<div class="frieds-plaing-container">-->
                            <!--<div class="row">-->
                            <!--<span>58</span>-->
                            <!--</div>-->
                            <!--<div class="row-of-circle">-->
                            <!--<span class="circle-image">-->
                            <!--<img src="images/test/tio1.jpg">-->
                            <!--</span>-->
                            <!--<span class="circle-image">-->
                            <!--<img src="images/test/counter_strike.jpg">-->
                            <!--</span>-->
                            <!--<span class="circle-image">-->
                            <!--<img src="images/test/tia2.jpg">-->
                            <!--</span>-->
                            <!--</div>-->

                            <!--<div class="row">-->
                            <!--<div class="col-md-6 view-all ">-->
                            <!--<button class="btn dropdown-toggle" type="button" id="allFrieds"-->
                            <!--data-toggle="dropdown">-->

                            <!--VIEW ALL<span class="caret"></span>-->

                            <!--</button>-->
                            <!--<ul dropdown class="dropdown-menu" role="menu" aria-labelledby="allFrieds">-->
                            <!--<li role="presentation">-->
                            <!--<a role="menuitem" tabindex="-1" href="">-->
                            <!--<span class="circle-image">-->
                            <!--<img src="images/test/tia2.jpg">-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--<li role="presentation">-->
                            <!--<a role="menuitem" tabindex="-1" href="">-->
                            <!--<span class="circle-image">-->
                            <!--<img src="images/test/tia2.jpg">-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--<li role="presentation">-->
                            <!--<a role="menuitem" tabindex="-1" href="">-->
                            <!--<span class=" circle-image">-->
                            <!--<img src="images/test/tia2.jpg">-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </td>
                        <!--<td>-->
                        <!--<div class="next-tournament col-md-4">-->
                        <!--<span class="next-date">12/10/14</span>-->
                        <!--<span class="next-time">4.30pm</span>-->
                        <!--</div>-->
                        <!--</td>-->
                        <!-- <td>{{t.status}}</td>
                         <td>{{t.config.maps}}</td> -->
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>

</div>
</div>
</div>


