<div id="profile-cover" back-img="{{user.cover}}">
    <div class="container">
        <div class="cover-up-wrapper">
            <div class="absolut-wrapper">
                <a class="btn btn-cover-up" href ng-click="doCrop()" ng-if="itsme">
                    <i class="fa fa-camera"></i>
                    <span>
                        Cambiar imagen fondo
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div profile user="user"></div>
            <twitter></twitter>
            <facebook></facebook>
        </div>
        <div class="col-md-4">
            <div class="profile-games-box">
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{'active':current_game_id == lvl.game.id}" ng-repeat="lvl in user.games_lvl">
                        <a ng-click="select_game(lvl)" class="game-tab">{{lvl.game.name}}</a>
                    </li>
                </ul>
                <div class="game-box-divider">

                </div>

                <div last-tournament user="{{user.id}}" tournament="last_tournament"></div>
            </div>

            <div user-stats user="{{user.id}}" game="{{current_game_id}}"></div>

            <div user-hardware user="user"></div>

        </div>
    </div>
</div>
