<section class="tab-pane" ng-show="selected">
    <div class="md-col-8 vote">

        <div class="col-md-2">
            <div class="game-container">
                <div class="box-cover"></div>
                <img src="images/test/counter_strike.jpg">
            </div>
            <div>
                <span class="game-title">FIFA 2015</span><br>
                <span class="game-description">Loren ipsum dolorem sit amet</span>
            </div>
            <span class="little-box-red">
                <a href="">VOTE </a>
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>

        <div class="col-md-2">
            <div class="game-container">
                <div class="box-cover"></div>
                <img src="images/test/rfactor2.jpg">
            </div>
            <div>
                <span class="game-title">rFactor</span><br>
                <span class="game-description">Loren ipsum dolorem sit amet</span>
            </div>
            <span class="little-box-red">
                <a href="">VOTE </a>
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>

        <div class="col-md-2">
            <div class="game-container">
                <div class="box-cover"></div>
                <img src="images/test/fifa2015.jpg">
            </div>
            <div>
                <span class="game-title">FIFA 2015</span><br>
                <span class="game-description">Loren ipsum dolorem sit amet</span>
            </div>
            <span class="little-box-red">
                <a href="">VOTE </a>
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <div class="col-md-2">
            <div class="game-container">
                <div class="box-cover"></div>
                <img src="images/test/dota2.jpg">
            </div>
            <div>
                <span class="game-title">DOTA 2</span><br>
                <span class="game-description">Loren ipsum dolorem sit amet</span>
            </div>
            <span class="little-box-red">
                <a href="">VOTE </a>
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>

        <div class="red-box-bar">
            <span>VOTING ENDS ON 4TH OCTOBER 2014</span>
        </div>
    </div>
</section>