<div class="cover-slider ">
    <slick dots='false' arrows='false' infinite=true class="slide" slidesToShow="1"
           fade="true"
           autoplay="true"
           autoplaySpeed="4000">
        <div data-ng-repeat="item in _home.home_top_slider">
            <img ng-src="{{item.cover}}" class="img-responsive"/>

            <div class="content_layout" ng-repeat="content in item.contents | filter:{language:_app.language.key}">
                <div ng-bind-html="content.content">
                </div>
            </div>
        </div>
    </slick>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2  hidden-xs">
            <!--<div class="game-center-box">-->
            <!--<a ui-sref="game.index" class="btn btn-danger btn-block">-->
            <!--<i class="fa fa-gamepad"></i>-->

            <!--<h3>GAME CENTER</h3>-->
            <!--</a>-->
            <!--</div>-->
            <div class="download-wrapper">
                <a class="btn btn-block btn-lg btn-danger btn-download-app-xl"
                   href="https://s3-eu-west-1.amazonaws.com/electronics3/downloads/software/Electronicstars.msi"
                   target="_blank"><i class="fa fa-windows pull-left"></i> DOWNLOAD APP</a>
            </div>

            <facebook class="hidden-xs"></facebook>
            <twitter class="hidden-xs"></twitter>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="home_tab_container col-md-6">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6 pull-right">
                            <a ui-sref="tournaments.list({ game_slug: 'counter-strike-go' })"
                               class="btn btn-danger btn-lg btn-block">
                                PLAY CS:GO NOW!<i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="inner-container">
                                <h3>
                                    <i class="fel fel-fel_win"></i>
                                    {{'HOME.MAIN.TITLE.RED'|translate}}
                                    <span>{{'HOME.MAIN.TITLE.BLACK' | translate }}</span>
                                </h3>

                                <div class="featured-container">
                                    <slick dots='true' arrows='true' infinite=true class="slide" slidesToShow="1"
                                           fade="true"
                                           autoplay="true"
                                           autoplaySpeed="5000">
                                        <div ng-repeat="t in _home.featured" class="advert">
                                            <img ng-src="{{t.featured}}"/>

                                            <div class="caption">
                                                <a ng-click="_home.featured_detail(t.id)"><span class="name">#{{t.modality}} {{t.name}}</span>
                                        <span class="prize"> {{t.public_prize|number:2}} <i class=""
                                                                                            ng-class="{'fel fel-fel_money_electornic':t.cash_type=='FAKE_CASH','fa fa-eur':t.cash_type=='REAL_CASH'}"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                    </slick>
                                </div>

                                <div tournament-weekly-winners tournaments="_home.last_tournaments_winners"></div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="news-container">
                <slick dots='true' arrows='false' infinite=true class="slide" slidesToShow="1"
                       fade="true"
                       autoplay="true"
                       autoplaySpeed="3500">
                    <div ng-repeat="item in _home.promotions">
                        <img ng-src="{{item.cover}}" class="img-responsive"/>

                        <div class="content_layout"
                             ng-repeat="content in item.contents | filter:{language:_app.language.key}">
                            <div ng-bind-html="content.content">
                            </div>
                        </div>
                    </div>
                    <!--<div class="slider-caption">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xs-2 col-sm-2 col-md-2">-->
                    <!--<h3>-->
                    <!--PROMOTIONS-->
                    <!--</h3>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->
                </slick>

            </div>
            <div class="news-container">
                <slick dots='true' arrows='false' infinite=true class="slide" slidesToShow="1"
                       fade="true"
                       autoplay="true"
                       autoplaySpeed="3500">
                    <div ng-repeat="new in _home.news">
                        <a ng-href="{{new.url}}" target="_blank" ng-repeat="img in new.attachments" ng-if="$last">
                            <img ng-src="{{img.url}}">
                        </a>

                        <div class="slider-caption">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <h3>
                                        <a ng-href="{{new.url}}" target="_blank">
                                            {{new.title}}
                                        </a>
                                    </h3>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                    <a ng-href="{{new.url}}" target="_blank" class="btn  btn-danger pull-right">
                                        READ MORE
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </slick>

            </div>
            <div class="news-container">
                <slick dots='true' arrows='true' infinite=true class="slide" slidesToShow="1"
                       fade="true"
                       autoplay="true"
                       autoplaySpeed="3500">
                    <div ng-repeat="item in _home.news_promotionals">
                        <img ng-src="{{item.cover}}" class="img-responsive"/>

                        <div class="content_layout"
                             ng-repeat="content in item.contents | filter:{language:_app.language.key}">
                            <div ng-bind-html="content.content">
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>

    </div>

</div>


