<div class="container">
    <div class="btn-close-wrapper">
        <button class="btn btn-close" ng-click="close()">x</button>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-1">
            <div class="user-login-box">
                <div class="header-box">
                    <h3>ELECTRONIC STARS LOGIN</h3>
                </div>
                <div class="content-box">
                    <form novalidate="novalidate" name="UserRegisterForm" autocomplete="off" ng-submit="join(user)">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" ng-model="user.username" id="username"
                                   placeholder="Introduce tu username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" ng-model="user.password" id="password"
                                   placeholder="Password" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Remember me
                            </label>
                        </div>


                        <div class="row">
                            <div class="col-md-1 pull-right">
                                <button type="reset" class="btn-block btn btn-cancel">CANCEL</button>
                            </div>
                            <div class="col-md-1 pull-right">
                                <button type="submit" class="btn-block btn btn-danger">LOGIN</button>
                            </div>
                        </div>
                    </form>
                    <div class="divider"></div>
                    <h5> OR LOG IN USING:</h5>

                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-steam"><i class="fa fa-steam"></i></a>
                            <a class="btn btn-social-icon btn-twitch"><i class="fa fa-twitch"></i></a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <h5>
                        DON'T HAVE AN ACCOUNT?
                    </h5>

                    <p>Create a new account! It's free to join and easy to use. Sign up now to create your Electronic
                        Stars account and get the app. Game on!</p>

                    <div class="row">
                        <div class="col-md-2">
                            <a type="submit" class="btn-block btn btn-danger" ui-sref="register">JOIN ELECTRONIC
                                STARS</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>FORGOT YOUR ACCOUNT NAME?</h5>
                            <button class="btn btn-cancel">CLICK HERE</button>
                        </div>
                        <div class="col-md-3">
                            <h5>FORGOT YOUR PASSWORD?</h5>
                            <button class="btn btn-reset">CLICK HERE</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>