<section class="tab-pane" ng-show="selected">
    <div class="community-tab">
        <div class="community-search-bar">

            <div class="secundary-filter-box">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="filter-label">FILTER BY</label>
                    </div>
                    <div class="form-group">
                        <div dropdown-multiselect options="gameDropdown"
                             selected-model="_game_filter"
                             extra-settings="filter_settings" checkboxes="true"
                             translation-texts="{buttonDefaultText: 'GAME'}"></div>
                    </div>
                    <div class="form-group">
                        <div dropdown-multiselect options="frequencyDropdown"
                             selected-model="_frequency_filter"
                             extra-settings="filter_settings" checkboxes="true"
                             translation-texts="{buttonDefaultText: 'FREQUENCY'}"></div>
                    </div>

                    <div class="form-group">
                        <div dropdown-multiselect options="nationalDropdown"
                             selected-model="_national_filter"
                             extra-settings="filter_settings" checkboxes="true"
                             translation-texts="{buttonDefaultText: 'NATIONAL'}"></div>
                    </div>
                    <div class="form-group pull-right">
                        <input type="text" class="form-control input-sm" placeholder="FIND FRIENDS" name="srch-term"
                               id="srch-term" ng-model="query">
                    </div>
                </form>
            </div>
        </div>

        <div class="table-box">
            <div class="table-content community-content">
                <table class="table-friends-head">
                    <thead>
                    <tr>
                        <th>
                            <div>
                                <a ng-click="orderByField='username'; reverseSort = !reverseSort">
                                    USERNAME <span ng-show="orderByField == 'user'">
                                <span ng-show="!reverseSort">^</span>
                                <span ng-show="reverseSort">v</span></span>
                                </a>
                            </div>

                        </th>
                        <th>
                            <div>
                                <a ng-click="orderByField='lvl'; reverseSort = !reverseSort">
                                    LEVEL <span ng-show="orderByField == 'level'">
                            <span ng-show="!reverseSort">^</span>
                            <span ng-show="reverseSort">v</span></span>
                                </a>
                            </div>

                        </th>
                        <th>
                            <div>
                                <a ng-click="orderByField='reputation'; reverseSort = !reverseSort">
                                    REPUTATION <span ng-show="orderByField == 'reputation'">
                            <span ng-show="!reverseSort">^</span>
                            <span ng-show="reverseSort">v</span></span>
                                </a>
                            </div>
                        </th>
                        <th>
                            <div>
                                <a ng-click="orderByField='location'; reverseSort = !reverseSort">
                                    LOCATION <span ng-show="orderByField == 'location'">
                            <span ng-show="!reverseSort">^</span>
                            <span ng-show="reverseSort">v</span></span>
                                </a>
                            </div>

                        </th>
                    </tr>
                    </thead>
                </table>
                <div class="table-friends-scrollable" scroll-bar>
                    <table>
                        <tbody class="table-container">
                        <tr data-ng-if="users_request.length > 0"
                            data-ng-repeat="user in users_request | filter:{name: query} | orderBy:orderByField:reverseSort"
                            data-ng-class="($last==true) ? 'lastRow' : ''">
                            <td>
                                <div class="user-community-info">
                                    <img class="user-circle" ng-src="{{user.avatar}}">

                                    <div class="img-request"></div>
                                    <div class="user-container">
                                        <div class="user-name">{{user.username}}</div>
                                        <div class="user-level">LEVEL{{user.lvl}}</div>
                                        <div class="user-multiplier">
                                            <div multiplier-same-size="{{user.multiplier}}">
                                            </div>
                                        </div>
                                        <button class="user-follow-btn" data-ng-click="acceptRequest(user)">ACCEPT
                                        </button>
                                        <button class="user-deny-btn" data-ng-click="denyRequest(user)">DENY</button>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="level-col">{{user.lvl}}</div>
                            </td>
                            <td>
                                <div class="reputation-col">
                                    <div reputation="{{user.reputation}}"></div>
                                </div>
                            </td>
                            <td data-ng-class="{scrollbarSize:friendsList.length + users_request.length > 5}  ">
                                <div class="location-col">{{user.location}}</div>
                            </td>
                        </tr>

                        <tr data-ng-if="friendsList.length > 0"
                            ng-repeat="user in friendsList | filter:{username: query} |orderBy:orderByField:reverseSort  track by $index">
                            <td>
                                <div class="user-community-info friend">
                                    <img class="user-circle" data-ng-src="{{user.avatar}}">

                                    <div class="user-name">{{user.username}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="level-col"> {{user.lvl}}</div>
                            </td>
                            <td>
                                <div class="reputation-col">
                                    <div reputation="{{user.reputation}}"></div>
                                </div>
                            </td>
                            <td>
                                <div class="location-col">{{user.location}}</div>
                            </td>
                        </tr>
                        <tr data-ng-if="friendsList.length == 0">
                            <td>
                                <div>
                                    you have no friend.
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>