<section class="black-container">
  <div class="landing-slider-container" ng-cloak>
    <slick infinite=true arrows='false' slidesToShow="1" fade="true" autoplay="true"
           autoplaySpeed="2000" current-index="index" adaptiveHeight="true" ng-cloak>
      <div ng-repeat="slide in annoucements">
        <img ng-src="{{slide.cover}}" class="img-responsive"/>

    </slick>
    <div class="red-icon hidden-xs hidden-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="play-icon">
              <div class="login"></div>
              <!-- <h5>{{'LANDING.RED_ICONS_BAR.ICON1' | translate }}</h5>-->
            </div>
          </div>
          <div class="col-md-2">
            <div class="play-icon">
              <div class="play"></div>
              <!-- <h5>{{'LANDING.RED_ICONS_BAR.ICON2' | translate }}</h5>-->
            </div>
          </div>
          <div class="col-md-2">
            <div class="play-icon">
              <div class="win"></div>
              <!--  <h5>{{'LANDING.RED_ICONS_BAR.ICON3' | translate }}</h5>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- video container -->
<section class="video_container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <section class="landingVideo">
          <video controls autoplay muted>
            <source src="multimedia/Counter Strike Global Offensive Trailer-SD.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </section>
      </div>
      <aside class="col-md-2 col-sm-6 col-xs-12">
        <ol>
          <li><span>{{'LANDING.VIDEO_PROMOTION.TEXT1' | translate }}</span></li>
          <li><span>{{'LANDING.VIDEO_PROMOTION.TEXT2' | translate }}</span></li>
          <li><span>{{'LANDING.VIDEO_PROMOTION.TEXT3' | translate }}</span></li>
          <li><span>{{'LANDING.VIDEO_PROMOTION.TEXT4' | translate }}</span></li>
          <li><span>{{'LANDING.VIDEO_PROMOTION.TEXT5' | translate }}</span></li>
          <li><span>{{'LANDING.VIDEO_PROMOTION.TEXT6' | translate }}</span></li>
        </ol>
        <!--<div class="sign-up-container hidden-xs hidden-sm">
            <a ui-sref="register" class="btn btn-block btn-danger" role="button">{{'LANDING.VIDEO_PROMOTION.BUTTON'
                | translate }}</a>
        </div>-->
      </aside>
    </div>
  </div>
</section>

<!-- get me -->
<section class="getme_container hidden-xs hidden-sm">
  <div class="container">
    <div class="image_container">
      <div class="row">
        <!-- <div class="col-md-6">
             <div class="red_border_bar"></div>
         </div>-->
      </div>
      <div class="row">
        <div class="box-landing-1">
          <span>{{'LANDING.GET_ME_STARTED.TITLE.TEXT1' | translate }}</span>
          <span>{{'LANDING.GET_ME_STARTED.TITLE.TEXT2' | translate }}</span>
        </div>
        <div class="box-landing-2">
          <span>{{'LANDING.GET_ME_STARTED.ACCOUNT.TEXT1' | translate }}<span class="bold">{{'LANDING.GET_ME_STARTED.ACCOUNT.TEXT2' | translate }}</span></span>
          <a ui-sref="register" class="btn  btn-danger">{{'LANDING.GET_ME_STARTED.ACCOUNT.BUTTON' |
            translate }}</a>
        </div>
        <div class="box-landing-3">
          <span><span class="bold">{{'LANDING.GET_ME_STARTED.CLIENT.TEXT1' | translate }}</span>{{'LANDING.GET_ME_STARTED.CLIENT.TEXT2' | translate }}</span>
        </div>
        <div class="box-landing-4">
                      <span>{{'LANDING.GET_ME_STARTED.STEAM.TEXT1' | translate }}<span
                        class="bold">{{'LANDING.GET_ME_STARTED.STEAM.TEXT2' | translate }}</span>{{'LANDING.GET_ME_STARTED.STEAM.TEXT3' | translate }}<span
                        class="bold">{{'LANDING.GET_ME_STARTED.STEAM.TEXT4' | translate }}</span></span>
        </div>
        <div class="box-landing-5">
          <div class="steam-box">
            <div class="steam-icon"></div>
            <span>{{'LANDING.GET_ME_STARTED.PLAY.INSIDE_BOX.TEXT1' | translate }}</span>
            <span>{{'LANDING.GET_ME_STARTED.PLAY.INSIDE_BOX.TEXT2' | translate }}</span>
          </div>
                      <span class="text-box"><span
                        class="bold">{{'LANDING.GET_ME_STARTED.PLAY.OUTSIDE_BOX.TEXT1' | translate }}</span>{{'LANDING.GET_ME_STARTED.PLAY.OUTSIDE_BOX.TEXT2' | translate }}<span
                        class="bold">{{'LANDING.GET_ME_STARTED.PLAY.OUTSIDE_BOX.TEXT3' | translate }}</span> {{'LANDING.GET_ME_STARTED.PLAY.OUTSIDE_BOX.TEXT4' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="signup_red_container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-6 col-xs-12 ">
        <form class="form-inline" name="emailform" ng-submit="open_modal()" novalidate>
          <input class=" col-sm-8 col-xs-12" type="email" name="uEmail"
                 ng-model="emailform.registration_email"
                 placeholder="{{'LANDING.EMAIL_SIGNUP.PLACEHOLDER' | translate }}" required>

          <div class="error_message_container">
                        <span class="error animate-show" ng-show=" emailform.$error.required && emailform.$submitted">
                          <i class="fa fa-exclamation-circle"></i>{{'LANDING.EMAIL_SIGNUP.ERROR_REQUIRED' | translate }}</span>
                         <span class="error animate-show" ng-show="emailform.$error.email && emailform.$submitted">
                         <i
                           class="fa fa-exclamation-circle"></i>{{'LANDING.EMAIL_SIGNUP.ERROR_INVALID' | translate }}</span>
          </div>
          <div class="bar hidden-sm hidden-xs"></div>
          <button type="submit"
                  class="btn btn-block btn-default col-sm-4 col-xs-12">
            {{'LANDING.EMAIL_SIGNUP.BUTTON' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>


