<div class="edit-profile-box" ng-controller="cashform.index as _cashform">
    <div class="box-header">
        <h3>{{'CASHFORM.INDEX.TITLE' | translate}}</h3>
        <a class="pull-right" ng-click="close()">
            <i class="fa fa-times-circle"></i>
        </a>

    </div>
    <div class="box-content">
        <div class="wallet-box">
            <div class="row">
				<div class="col-md-6 cash-box-left">
					<div class="cash-heading">
						<h3>My cash</h3>
						<button class="close-button">x</button>
					</div>
					<div>
						<div>Real cash</div>
						<div><span>Balance</span><input type="number" value="" placeholder="100" /></div>
						<div><span>Available</span><input type="number" value="" placeholder="100" /></div>
						<div><span>Clan cash</span><input type="number" value="" placeholder="100" /><button>top up</button></div>
						<div><span>Total</span><input type="number" value="" placeholder="100" /></div>
					</div>
					<div>
						<div>Play credit</div>
						<div><span>Balance</span><input type="number" value="" placeholder="100" /></div>
						<div><span>Available</span><input type="number" value="" placeholder="100" /></div>
						<div><span>Total</span><input type="number" value="" placeholder="100" /></div>
					</div>
					<div>
						
					</div>
				</div>
            </div>
			
            <div class="row">
                <div class="actions-btns">
                    <div class="col-md-3">
                        <button class="btn btn-block btn-large btn-danger">Top up now!
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-block btn-large btn-default"
                                ng-click="go_to('profile.cashier.play_credits')">
                            Recharge!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wallet-box-fotter">
        <div class="row">
            <div class="col-md-6">
                <div class="stars-detail">
                    <i class="fa fa-star"></i>
					<span>star points collected to date</span>
                    <span class="value">{{_cashier.cashier.frecuenly_player_points|number:2}}</span>
					<span>more info</span>
                    <span class="detail">{{'CASHIER.INDEX.FOOTER' | translate}}e</span>
                </div>
            </div>
        </div>
    </div>
</div>