<div class="edit-profile-box" ng-controller="cashform.user.index as _cashform">
    <div class="box-header">
        <h3>{{'CASHFORM.PAYMENT.TITLE' | translate}}</h3>
        <a class="pull-right" ng-click="close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="box-content">
        <div class="wallet-box">
            <div class="row">
				<div class="col-md-6 cash-box-left">
					<form method="post" id="neteller-payment">
						<fieldset>
						</fieldset>
						<div>
							<div>Deposit  with Neteller </div>
							<img ng-src="{{cashform.netellerimg}}" alt="Neteller" title="Neteller" />
						</div>
						<button>Deposit</button>
					</form>
				</div>
            </div>
        </div>
    </div>
</div>