<div class="edit-profile-box" ng-controller="cashform.index as _cashform">
    <div class="box-header">
        <h3>{{'CASHFORM.INDEX.TITLE' | translate}}</h3>
        <a class="pull-right" ng-click="close()">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
    <div class="box-content">
        <div class="wallet-box">
            <div class="row">
				<div class="col-md-6 cash-box-left">
					<form method="post" id="select-cash-payment">
						<div>Select payment method</div>
						<fieldset ng-repeat="paymethod in paymethods">
							<label for="paymethod.methodId"><img ng-src="{{paymethod.image}}" alt="paymethod.name" title="paymethod.name" /></label>
							<input type="radio" id="paymethod.methodId" name="selectPayment" value="paymethod.methodValue" />
						</fieldset>
						<div>Select amount</div>
						<fieldset ng-repeat="payamount in payamounts">
							<label for="payamount.amountId"><i class="fa fa-gbp"></i>25</label>
							<input type="radio" id="payamount.amountId" name="selectAmount" value="payamount.amountValue" />
						</fieldset>
						<div>
							<label for="chosenAmount">Deposit: </label>
							<input type="number" id="chosenAmount" value="" placeholder="" />
						</div>
						<button>Next</button>
					</form>
				</div>
            </div>
        </div>
    </div>
</div>