<div class="cover-slider ">

</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">

            <section class="box-only-header box-red top-up-now">
                <a ui-sref="cashier.user" href="#/cashier">
                    <i class="fa fa-credit-card"></i>

                    <h3>TOP UP NOW!</h3>
                </a>
            </section>

            <section class="box-with-header lastplayed-left-box ">
                <div class="box-header">
                    <i class="fa fa-gamepad"></i>

                    <h3>LAST PLAYED</h3>
                </div>
                <div class="game-container">
                    <div class="box-cover"></div>
                    <img src="images/test/counter_strike.jpg">
                </div>
                <span class="game-title">CS:GLOBAL OFFENSIVE</span>
            </section>

            <section class="box-only-header box-red return-my-games">
                <i class="fa fa-chevron-left"></i>
            <span>
                <a ui-sref="game.index" href="#/game-center">
                    RETURN TO MY GAMES</a>
            </span>
            </section>

            <twitter></twitter>


        </div>
        <div class="col-md-4">
            <game-center-nav-tabs class="vote-tabs">
                <vote title="VOTE">
                </vote>

                <results title="RESULTS">
                </results>

                <recentadditions title="RECENT ADDITIONS">
                </recentadditions>
            </game-center-nav-tabs>
        </div>
        <div class="col-md-2 after-tabs">
            <facebook></facebook>
        </div>
    </div>
</div>


