<div class="game-detail-container" back-img="{{_tour.game.cover}}">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-2">
                <div class="red-bar"></div>
                <div class="red-bar"></div>
                <div class="red-bar"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-2 hidden-xs hidden-sm">
    <div lobby-nav games="_app.games"></div>
    <div class="tournament-social-box" ng-if="last_tournament_event">
        <div class="drag-box">
            <div><span>PL</span>AY <br>
                <span>BO</span>X
            </div>
        </div>
        <div class="share-box">
            <div class="share-data">
                <p>
                    <a href="#">{{last_tournament_event.user}}</a> just {{last_tournament_event.action}}
                    {{last_tournament_event.quantity}} points in <span>#css</span> on
                    <span>#electronicStars</span>
                </p>

            </div>
            <div class="share-by">
                <span>SHARE ON : </span>

                <div class="social-sites">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter-square"></i>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-xs-6 col-sm-6 col-md-4">
<div class="tournament-advert-box">
    <slick dots='true' arrows='true' infinite=true class="slide" slidesToShow="1"
           fade="true"
           autoplay="true"
           autoplaySpeed="5000">
        <div ng-repeat="t in _tour.featured" class="advert">
            <img ng-src="{{t.featured}}"/>

            <div class="caption">
                <div class="caption">
                    <a ng-click="_tour.featured_detail(t.id)"><span class="name">#{{t.modality}} {{t.name}}</span>
                                        <span class="prize"> {{t.public_prize|number:2}} <i class=""
                                                                                            ng-class="{'fel fel-fel_money_electornic':t.cash_type=='FAKE_CASH','fel fel-fel_money_euro':t.cash_type=='REAL_CASH'}"></i> </span>
                    </a>
                </div>
            </div>
        </div>
    </slick>
</div>
<div tournament-weekly-winners tournaments="_tour.tickets"></div>
<div class="tournament-list-box ">
    <div class="main-filter-row hidden-xs">
        <div class="row">
            <ul class="nav nav-tournament-filter col-md-tercios" role="tablist">
                <li ng-class="{active:_tour.current_mode=='REAL_CASH'}"
                    ng-click="_tour.reload_tournament_mode('REAL_CASH')">
                    <a translate="LOBBY.FILTER.COMPETITIVE"></a>
                </li>

                <li ng-class="{active:_tour.current_mode=='FAKE_CASH'}"
                    ng-click="_tour.reload_tournament_mode('FAKE_CASH')">
                    <a translate="LOBBY.FILTER.TRAINING"></a>
                </li>

            </ul>
            <div class="col-md-quarter">
                <div class="status-legend">
                    <h4 translate="LOBBY.FILTER.GAME_STATUS"></h4>

                    <div class="btn-group">
                        <label class="btn" ng-model="_tour._status.open" btn-checkbox>
                            <span class="circle registering"></span> {{'LOBBY.FILTER.OPEN' | translate}}
                        </label>
                        <label class="btn" ng-model="_tour._status.finish" btn-checkbox>
                            <span class="circle finished"></span> {{'LOBBY.FILTER.FINISHED' | translate}}
                        </label>
                        <label class="btn" ng-model="_tour._status.progress" btn-checkbox>
                            <span class="circle in-progress"></span> {{'LOBBY.FILTER.IN_PROGRESS' | translate}}
                        </label>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="secundary-filter-box hidden-xs">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label translate="LOBBY.FILTER.FILTER_BY"></label>
            </div>

            <div class="form-group">
                <div isteven-multi-select max-labels="1" input-model="_tour.tournaments_name_filter"
                     translation="_tour.lang_filter_name"
                     output-model="_tour._name_filter"
                     button-label="label" item-label="label" tick-property="ticked" helper-elements="all reset">
                </div>
            </div>
            <div class="form-group">
                <div isteven-multi-select max-labels="1" input-model="_tour.tournaments_configs_filter"
                     translation="_tour.lang_filter_config"
                     output-model="_tour._config_filter"
                     button-label="label" item-label="label" tick-property="ticked" helper-elements="all reset">
                </div>

            </div>
            <div class="form-group">
                <div isteven-multi-select max-labels="1" input-model="_tour.tournaments_player_filter"
                     translation="_tour.lang_filter_players"
                     output-model="_tour._player_filter"
                     button-label="icon" item-label="icon label" tick-property="ticked"
                     helper-elements="all reset">
                </div>
            </div>
            <div class="form-group">
                <div isteven-multi-select max-labels="1" input-model="_tour.tournaments_bet_filter"
                     translation="_tour.lang_filter_entry"
                     output-model="_tour._entry_filter"
                     button-label="id" item-label="label" tick-property="ticked" helper-elements="all reset">
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn btn-sm btn-filter" ng-model="_tour.registered_filter"
                        btn-checkbox translate="LOBBY.FILTER.WITH_PLAYER">

                </button>

            </div>


        </form>
    </div>


    <div class="table-box">

        <table class="table table-tournaments">
            <thead>
            <tr>
                <th class="sortable"
                    ng-class="{'desc':_tour._order_table_head =='name' && !_tour._order_table_revese,'asc':_tour._order_table_head =='name' && _tour._order_table_revese}"
                    style="width: 24.2%;text-align: left;padding-left: 10px" ng-click="_tour.order_table('name')">
                    {{'LOBBY.FILTER.NAME' | translate}}
                </th>
                <th class="sortable"
                    ng-class="{'desc':_tour._order_table_head =='entry' && !_tour._order_table_revese,'asc':_tour._order_table_head =='entry' && _tour._order_table_revese}"
                    style="width: 12.7%" ng-click="_tour.order_table('entry')">
                    {{'LOBBY.FILTER.ENTRY' | translate}}
                </th>
                <th class="sortable"
                    ng-class="{'desc':_tour._order_table_head =='type' && !_tour._order_table_revese,'asc':_tour._order_table_head =='type' && _tour._order_table_revese}"
                    style="width: 16.6%" ng-click="_tour.order_table('type')">
                    {{'LOBBY.FILTER.TYPE' | translate}}
                </th>
                <th class="sortable"
                    ng-class="{'desc':_tour._order_table_head =='players' && !_tour._order_table_revese,'asc':_tour._order_table_head =='players' && _tour._order_table_revese}"
                    style="width: 12%" ng-click="_tour.order_table('players')">
                    {{'LOBBY.FILTER.PLAYERS' | translate}}
                </th>
                <th class="sortable"
                    ng-class="{'desc':_tour._order_table_head =='prize' && !_tour._order_table_revese,'asc':_tour._order_table_head =='prize' && _tour._order_table_revese}"
                    style="width: 12.1%" ng-click="_tour.order_table('prize')">
                    {{'LOBBY.FILTER.PRIZE' | translate}}
                </th>
                <th style="width: 10%" class="hidden-xs"> {{'LOBBY.FILTER.PLAY' | translate}}</th>
                <th style="width: 20%"> {{'LOBBY.FILTER.DETAILS' | translate}}</th>

            </tr>
            </thead>
        </table>
        <div class="table-content-scrollable" scroll-bar>
            <table class="table table-tournaments">
                <tbody>
                <tr ng-repeat="t in _tour.tournaments |  filter:_tour._filter_by_name | filter:_tour._filter_by_config | filter:_tour._filter_by_players | filter:_tour._filter_by_status | filter:_tour._filter_by_entry | filter:_tour._filter_by_registered | orderBy:_tour.order_by_status |orderBy:_tour.order_by_paramenter:_tour._order_table_revese">
                    <td style="width: 29%;text-align: left;padding-left: 10px;">
                            <span class="circle"
                                  ng-class="{'in-progress':t.status=='IN_PROGRESS','registering':t.status=='REGISTRATION','finished':t.status=='FINISHED'}"></span>{{t.name}}
                    </td>

                    <td style="width: 14%">{{t.register_amount|number:2}}<i class=""
                                                                            ng-class="{'fel fel-fel_money_electornic':t.cash_type=='FAKE_CASH','fel fel-fel_money_euro':t.cash_type=='REAL_CASH'}"></i>
                    </td>
                    <td style="width: 17.2%">{{t.modality}}</td>
                    <td class="red" style="width: 14.1%">
                        {{t.registered_players}}/{{t.total_players}}
                                    <span ng-show="t.modified=='more'" class="animated flash"><i
                                            class="fa fa-arrow-up"></i> </span>
                            <span ng-show="t.modified=='less'" class="animated flash"><i
                                    class="fa fa-arrow-down"></i> </span>
                    </td>
                    <td class="red" style="width: 14.3%">{{t.public_prize|number:2}} <i class=""
                                                                                        ng-class="{'fel fel-fel_money_electornic':t.cash_type=='FAKE_CASH','fel fel-fel_money_euro':t.cash_type=='REAL_CASH'}"></i>
                    </td>
                    <td class="play hidden-xs" style="width: 11%"><i class="fa fa-play-circle-o"
                                                                     ng-if="t.status=='REGISTRATION'"
                                                                     ng-click="_tour.tournament_detail(t,true)"></i>
                    </td>
                    <td style="">
                        <button class="btn btn-tournament-detail"
                                ng-click="_tour.tournament_detail(t,false)" translate="LOBBY.BUTTON.MORE">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<div ng-if="_tour.last_tournaments != null" tournament-last-score
     tournaments="_tour.last_tournaments"></div>
<div class="row" ng-if="_tour.last_tournament != null">
    <div class="col-md-tercios" ng-if="_tour.last_tournament != null">
        <div tournament-post-match tournament="_tour.last_tournament"></div>

    </div>
    <div class="col-md-quarter pull-right">
        <div class="top-ranking-box">
            <div class="header">
                <h3>TOP RANKING</h3>
            </div>
            <div class="content" scroll-bar>
                <div top-game-ranking users="_tour.top_players"></div>
            </div>
            <div class="footer">
                <button class="btn btn-block btn-lg btn-danger" ng-click="_tour.show_rank(vm.game)">
                    {{'LOBBY.BUTTON.MORE' | translate}} <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

