<div class="container">
    <div class="row">
        <div class="col-md-2  hidden-xs hidden-print hidden-sm ">
            <div class="faq_side_menu">
                <nav class="hidden-xs hidden-print hidden-sm ">
                    <ul class="nav nav-stacked" role="tablist">
                        <li ng-repeat="c in _faq.categories|orderBy:'order'">
                            <a href="#{{c.name}}" ng-click="c.opened=false" du-smooth-scroll duration="500"
                               offset="150" du-scrollspy>
                                <span ng-repeat="title in c.title" ng-if="title.language=='ES'">
                                    {{title.content | uppercase}}
                                </span>
                            </a>
                        </li>


                    </ul>
                </nav>
            </div>

        </div>
        <div class="col-md-4 " role="main" du-scroll-container>
            <div class="faq-wrapper">
                <article id="{{c.name}}" ng-repeat="c in _faq.categories|orderBy:'order'">
                    <h3 ng-click="c.opened = !c.opened" ng-init="c.opened = $index==0 ? true : false">
                         <span ng-repeat="title in c.title" ng-if="title.language=='ES'">
                                    {{title.content}}
                                </span><i class="fa pull-right"
                                          ng-class="{'fa-chevron-right':c.opened,'fa-chevron-down':!c.opened}"></i>
                    </h3>

                    <div class="sub-content" collapse="!c.opened" ng-repeat="article in c.articles">
                        <div class="init-content"></div>
                        <div class="terms-item">
                            <div class="item-title">
                                <span ng-repeat="title in article.title" ng-if="title.language=='ES'">
                                    {{title.content}}
                                </span>
                            </div>
                            <div ng-repeat="text in article.text" ng-if="text.language=='ES'"
                                 ng-bind-html="text.content">

                            </div>

                        </div>
                    </div>


                </article>
            </div>
        </div>
    </div>
</div>